[2017-10-03 10:00] corradio opened #7 "Tesla Cockpit"
## Live data only
Unfortunately we can only get live data. We need to setup a proxy that scrapes data.
Useful library: https://github.com/hjespers/teslams

## Auth
http://docs.timdorr.apiary.io/#reference/authentication/tokens/get-an-access-token
Requires getting a username / password from the user and passing it through the https://owner-api.teslamotors.com/oauth/token endpoint. Uses OAuth.

## C

[2017-10-03 12:57] corradio opened #20 "Nissan Leaf connector"
No live api apparently.
Carwings is the telematics system installed in the Leaf.

Forum might be interesting:
http://www.mynissanleaf.com/viewforum.php?f=31

## Libraries
### Python
https://github.com/jdhorne/pycarwings2
Can't find the charging power. Some more info here: https://github.com/jdhorne/pycarwings2/blob/master/pycarwings2/responses.py#L506

### Node
Seems old: https://github.com/crtr0/

[2017-10-03 19:56] corradio opened #19 "BMW i3"
One could hack its way through here:
https://github.com/edent/BMW-i-Remote/#authorisation

Unfortunately it requires decompiling the Android app to get the app token / secret. Not super recommended..

[2018-10-12 13:29] corradio opened #26 "App in the Air travel API"
https://appintheair.docs.apiary.io/#reference/0/my-trips/list-trips

[2018-10-14 10:33] corradio opened #21 "AirFrance KLM"
See https://developer.airfranceklm.com/docs/read/all_other_apis/customer_api

[2018-10-16 13:34] corradio opened #22 "Lifesum source"

[2018-11-13 12:47] corradio opened #1 "Danish Smart Meters using energinet.dk"
I talked to energinet, as we need an OAuth2 solution. It seems to be planned for Q3 2019 unfortunately. Upvote this issue if you believe it's important.

[2018-11-19 09:12] ovbm opened #5 "🇩🇪 Deutsche Bahn"
DB provides start and endpoint of travel. We'd have to compute the duration or distance ourselves.

[2018-11-19 16:43] corradio opened #2 "Open Energy Monitor"

[2018-11-23 15:04] jarek opened #3 "🇬🇧Transport for London Oyster/Contactless records"
For people with accounts: https://contactless.tfl.gov.uk/

**Oyster** card data appears be accessible going back only 2 months. In June 2018 I exported a CSV and it looked like the following - but I can't give you links to scrape, or test anymore - people who use Oyster cards might be able to help!

[code]

**Contactless** data flow looks like:
- https://contactless.tfl.gov.uk/MyCards lists cards

[2018-11-25 21:58] ovbm opened #4 "🇨🇭 SBB"

[2018-12-07 17:22] corradio opened #9 "Nissan Leaf"
JSON API is available:
https://github.com/joshperry/carwings/blob/master/protocol.markdown
Seems like we can query by month here:
https://gitlab.com/tobiaswkjeldsen/dartcarwings/blob/master/lib/src/carwings_vehicle.dart#L232
and format the data like here:
https://gitlab.com/tobiaswkjeldsen/dartcarwings/blob/master/lib/src/carwings_stats_trips.dart#L6

[2018-12-08 08:38] corradio opened #10 "🇩🇰 Coop card"

[2018-12-10 07:11] corradio opened #11 "Lyft Integration"
Ride history is available here:
https://developer.lyft.com/v1/reference#users-ride-history

[2018-12-10 10:43] systemcatch commented on #2
Few links to get started.
https://guide.openenergymonitor.org/technical/api/
https://guide.openenergymonitor.org/setup/remote/

In the UK smart meter implementation is kind of a mess so far. Getting direct access to your own data isn't possible yet afaik, this might change in the future with pressure on energy suppliers & GDPR.

[2018-12-10 13:56] corradio opened #12 "🇩🇰 Taxa.nu"

[2018-12-10 14:30] corradio opened #13 "myCWT"
Formerly WorldMate.
https://www.carlsonwagonlit.com/travel-management/keeping-moving/travel-booking-services/
They parse emails and get reservations inside their app. Only for big customers.
https://www.carlsonwagonlit.com/travel-technology/mycwt/

[2018-12-18 12:17] corradio opened #14 "Developer sandbox to test integrations"

[2018-12-21 17:11] corradio opened #16 "BCD TripSource"
https://www.bcdtravel.com/tripsource/

[2018-12-24 10:56] corradio opened #17 "Legrand EnergyMeter"
Based on https://play.google.com/store/apps/details?id=com.legrand.homecontrol&hl=en
![image](https://user-images.githubusercontent.com/1655848/50397788-f5062e80-0772-11e9-9ac0-6f222101282e.png)

API: https://portal.developer.legrand.com/docs/services/59e9ad7f8bda9e0b3caea28c/operations/GetEnergyMeterStatus
Auth: https://developer.legrand.com/tutorials/getting-started/

[2018-12-27 18:56] corradio opened #18 "Nest"
The Nest app provides a history of heating (in hours)
https://nest.com/support/article/How-to-read-my-Energy-History-on-the-Nest-Learning-Thermostat#energy-history-icons

The Nest api provides an hvac state (heating...) see https://developers.nest.com/documentation/api-reference, but no access to history to my knowledge.

Also see this thread on SO: https://stackoverflow.com/questions/24411859/doe

[2018-12-30 21:53] jarek commented on #5
I have a DB "Meine Bahn" account if you would like to try scraping it. The table with trip record looks like this, and data is available up to 14 months in the past.

[code]

Sometimes the more details pages ("Detailansicht zu diesem Auftrag") have slightly more information, like for instance "InterCityExpress 996, F-Flughafen Fernbf. (ab 10:09) - Berlin Hbf, 2. Kl., 2 Sitzplätze, Wagen 22, Plätze

[2018-12-31 08:20] corradio commented on #5
That's really awesome! I think first we need to build a small playground so people can easily code the integrations themselves (see #14).

[2018-12-31 09:08] ovbm commented on #14
that would be great

[2018-12-31 09:09] ovbm commented on #5
I already started an integration that is not quite working yet. Will make a PR with what I have so far.

[2018-12-31 17:28] jarek opened #23 "🇨🇦 Ontario Presto transit card"
In my experience, few abstractions survive contact with real-world data :smile: So here is some sample data from Canada that you might find useful, even if you don't implement it.

Presto is a fare card that can be used in much of Ontario, Canada. Total potentially covered daily ridership is around ~1.7M Toronto + 340k Ottawa + ~150k Mississauga + ~100k Brampton + ~80k York Region = on the order o

[2019-01-02 14:29] ovbm opened #25 "Playground Features"
- present results in html list
- code edit area

https://github.com/securingsincity/react-ace

[2019-01-07 17:58] byvlstr opened #27 "Add daily commute"
Add the option to add a daily commute which is X times a day (select to choose the numbers of days) with a certain type of transport.

This gives a better UX to the user to avoid him entering recurring activities every day.

[2019-01-07 18:03] byvlstr opened #28 "Add a diet plan"
Add an option to add a diet plan. This is similar to issue #27 to improve the user's UX on the app. The user can then add meals manually when things fall off his dietary plan (eating more meat than usual, etc).

Options like Organic, Meat X times a week, Fish X times a week, vegetarian, vegan, No dairy/lactose, No gluten

[2019-01-07 18:19] byvlstr opened #29 "Add digital usage"
All services, apps and devices we use are using a lot of energy. Whether the evening entertainment (device consumption + service consumption), the job (devices, e-mails), utility services like cloud storage and other services, all these have a carbon footprint.

Amongst others, Greenpeace published a study on the tech industry and their energy sources. Each service consumes, but depending on which

[2019-01-10 11:09] corradio opened #30 "Improve EV model by adding a per-country distinction"
![image](https://user-images.githubusercontent.com/1655848/50964816-89d98d80-14d0-11e9-944d-ccc5415ddfc5.png)

[2019-01-14 14:17] nmrtn opened #31 "Netatmo Energy"
based on https://dev.netatmo.com/resources/technical/reference/energy -->
Add Gaz + electricity used by boiler

Netamo energy app provides room temperature + ratio of boiler usage / hour.
Not sure if an endpoint provides historical data or if it would need to be polled every couple of minutes.

[2019-01-14 14:24] nmrtn opened #32 "Location and transportation mode"
based on https://www.bigpaua.com/arcapp that is basically a [moves alternative](https://moves-app.com) (killed by facebook).
Privacy proof alternative to [google timeline](https://www.google.com/maps/timeline) .

[2019-03-04 15:01] corradio commented on #11
Lyft actually offsets for their drivers, so we should this as carbon neutral.

[2019-03-18 07:55] corradio opened #33 "Octopus Energy"
An api is available here:
https://developer.octopus.energy/docs/api/

[2019-03-21 12:22] ovbm opened #34 "Translate the "pragmatic climatechange" page"
We could translate the tmrow.com/climatechange page in multiple languages.
To Do's:
- [ ] expose the content to a public repository
- [ ] create simple system for translation

[2019-03-22 12:08] corradio opened #35 "open source the carbon models"

[2019-03-25 10:55] #35 closed

[2019-04-10 11:54] corradio opened #38 "Tibber"
See https://developer.tibber.com/

[2019-04-10 11:55] #34 closed

[2019-05-13 07:37] corradio opened #39 "Carbon emissions of transportation should take into account petrol/diesel and number of passengers"
- Add factor for petrol/diesel
- Take into account number of passengers

Relevant file: https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/transportation.js

[2019-05-19 19:48] corradio opened #41 "Barry: use ConsumptionController"
https://jsonrpc.getbarry.dk/json-rpc/co/getbarry/megatron/controller/ConsumptionController

[2019-05-20 14:10] brunolajoie opened #43 "clicking on "wallet" icon in home screen opens "personal" emissions diary instead of "pro" one"
Config: Android on Samsung S7
TomorrowApp v1.1.37

[2019-05-20 14:24] corradio commented on #43
Thanks for the bug report!

I think this is simply due to the fact that the profile screen is pretty slow to load.
You probably opened the personal profile first, went back to home, and then opened the pro profile and didn't let it time to load (it showed the previous profile screen in the meantime).
We'll add a loading indicator soon 👍
Closing this as we will track internally.
For other requests,

[2019-05-20 14:24] #43 closed

[2019-05-22 16:39] #41 closed

[2019-05-24 13:26] ovbm opened #44 "Swedish Trains - Skanetrafiken"
https://www.skanetrafiken.se/

[2019-05-24 19:54] snarfed opened #45 "Sense"
[Sense](https://sense.com/) is a device and service that measures your residential electricity usage at high resolution, both real time and historical (short term). It distinguishes most individual devices, when they turn on and off, and how much energy they use.

Sense doesn't have an official API, [but there's a good unofficial API and language bindings, with the company's blessing.](https://com

[2019-05-25 11:04] corradio opened #46 "Youtube/Netflix integration to capture footprint of streaming"

[2019-05-27 08:43] corradio commented on #45
Hi @snarfed,
That's awesome. Would you be up for trying to build that integration?

[2019-05-27 15:17] corradio commented on #45
Great - feel free to ping us on slack.tmrow.com to get access to the app and to have help if needed

[2019-06-02 13:18] corradio opened #47 "🇩🇰 nemlig.com"

[2019-06-03 20:48] tgy commented on #46
Is anyone working on that? I'd be interested in working on that one as a first contribution.

[2019-06-04 07:02] corradio commented on #46
I think you can go ahead!
What we'd need here is both the integration and a carbon model. Probably
one that shows the footprint of X min of watched netflix would be enough.
Thanks for the help ;-)

Oli

On Mon, Jun 3, 2019 at 10:48 PM Valentin Iovene <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tm

[2019-06-04 08:35] tgy commented on #46
The paper [Evaluating Sustainable Interaction Design of Digital Services: The Case of YouTube](https://dl.acm.org/citation.cfm?id=3300627) analyses the carbon footprint of YouTube. It includes everything from the CDN (Content Delivery Network), the core and edge network (Internet infrastructure), residential access network / cellular network, end user device (phone or laptop). The result is comput

[2019-06-04 08:44] martincollignon commented on #46
Wouldn't it make more sense to integrate with something like
https://www.rescuetime.com/ (or others?)

On Tue, 4 Jun 2019 at 10:35, Valentin Iovene <notifications@github.com>
wrote:

[2019-06-04 08:51] corradio commented on #46
Wow that's very low. For reference, my electricity consumption for a day is roughly ~1kg CO2.
@brunolajoie do those orders of magnitude seem realistic to you?

[2019-06-04 10:59] tgy commented on #46
On 04.06.2019 01:44, martincollignon wrote:

Clearly, we want to monitor YouTube usage on all the user's devices.
For that, I would expect some YouTube official API that would allow
tomorrow to be linked to the user's YouTube account and access
information about videos watched by the user. If this API lets us
access how much time the user spent watching videos then we won. I
checked the [YouTube D

[2019-06-04 13:52] martincollignon commented on #46
Sounds like the ideal thing - and may be even better from a privacy
perspective? Is there a 3rd party tool which could be integrated that could
do that to avoid having to deal with building/maintaining extra software
from Tomorrow's side?

On Tue, 4 Jun 2019 at 12:59, Valentin Iovene <notifications@github.com>
wrote:

[2019-06-04 14:16] tgy commented on #46
On 04.06.2019 13:52, martincollignon wrote:

I feel like we are asking ourselves a question that might be too broad.
Is Tomorrow aiming at using device-specific measures for estimating
carbon emissions, or aiming at connecting with 3rd parties that provide
external measures for estimating carbon emissions, or both at the same
time? Sounds like something only Tomorrow people can answer :-)

If my u

[2019-06-04 14:23] corradio commented on #46
Hey guys,

It's indeed things we've thought about. To clarify: the monitoring of
electricity usage of devices is better covered by monitoring electricity
consumption in the home where you live.
In this particular case, it seems like we should connect to netflix/youtube
to figure out its footprint *excluding* the electricity consumption of your
device (which covered by your own smart meter).
I woul

[2019-06-04 14:30] tgy commented on #46
On 04.06.2019 07:23, Olivier Corradi wrote:

Makes total sense

Yep, sent an email to the original authors of the paper I mentioned
earlier to get their input. Will keep you guys posted here if they
reply. Does it still seem low if we exclude the electricity consumption
of the device?

Also, should we account for the type of energy used by these companies
for their infrastructures? Greenpeace did

[2019-06-04 14:43] martincollignon opened #48 "🇩🇰Integration with Ørsted"
**WHY**
Ørsted is the biggest electricity provider in Denmark, with over 1mm customers in Denmark

**HOW**
You can access usage data on[ the web ]( https://orsted.dk/Privat/Mit-Orsted/Forbrug/Se-dit-forbrug), [iOS](https://itunes.apple.com/dk/app/mit-%C3%B8rsted/id1447353892?mt=8), [Android](https://play.google.com/store/apps/details?id=com.orsted.selfservice&hl=en_US)

For login information, plea

[2019-06-04 15:12] corradio opened #49 "🇩🇰 Lidl Plus"
See https://www.lidl.dk/da/lidlplus.htm

[2019-06-04 15:21] martincollignon opened #50 "🇩🇰Integration with OK Benzinkort"
**WHY**
670 gas stations in Denmark. Coupled with your car type, understanding your gas purchases can then be translated to emissions
**HOW**
https://www.ok.dk/min-ok-forside/login?r=%2fmin-ok-forside#/email

[2019-06-04 15:24] martincollignon opened #51 "🇩🇰Integration with Circle K card"
**WHY**
260 Circle K gas stations and 60 1-2-3 gas stations. 20% of Denmark gas usage. Coupled with car type, emissions could be calculated

**HOW**
https://www.circlek.dk/dk_DK/pg1334072984722/privat/voresbutikker/PrivatKort/MitCircleK.html

[2019-06-04 16:51] martincollignon commented on #46
https://www.emergeinteractive.com/insights/detail/does-irresponsible-web-development-contribute-to-global-warming/
that looks interesting! I think long term going for data downloaded is more
scalable and decently accurate than trying to plug-in to all services...
Then you just need to plug-in to telco for GB on data and router for at
home.

On Tue, Jun 4, 2019, 16:30 Valentin Iovene <notifications

[2019-06-05 06:03] martincollignon opened #52 "Scandinavian Airlines System"
**WHY**
36% of all passengers at CPH were on a SAS flight. I imagine this is even higher for business segment due to miles.

**HOW**
https://www.flysas.com/en/managemybooking for web
https://itunes.apple.com/dk/app/sas-scandinavian-airlines/id605727126?mt=8 for iOS
https://play.google.com/store/apps/details?id=se.sas.android&hl=en for Android

PM me if you need login details

[2019-06-05 06:07] martincollignon opened #53 "Integration with Norwegian Air Shuttle"
WHY
17% of all passengers at CPH were on a Norwegian flight. Given the prices on long-haul to the US, I imagine they would be one of the most obvious sinners CO2 wise

HOW
https://www.norwegian.com/uk/my-travels/#/lookup for web
https://www.norwegian.com/en/travel-info/check-in-and-boarding/travel-assistant-app/ for links to iOS and Android

PM me if you need login details

[2019-06-05 06:09] martincollignon opened #54 "Integration with Ryanair"
WHY
6.6% of all passengers at CPH were on a Ryanair flight.

HOW
https://www.ryanair.com/gb/en/manage-my-booking for web
https://www.ryanair.com/gb/en/plan-trip/flying-with-us/our-app for links to iOS and Android

PM me if you need login details

[2019-06-05 06:11] martincollignon opened #55 "Integration with Easyjet"
WHY
5.4% of all passengers at CPH were on a Easyjet flight.

HOW
https://www.easyjet.com/mylogin/en-GB/LogOn?ReturnUrl=%2fmylogin%2fen-GB%3fwa%3dwsignin1.0%26wtrealm%3durn%253a%252fmanagebookings%26wctx%3drm%253d0%2526id%253dpassive%2526ru%253d%25252fmanagebookings%25252fen-GB%26wct%3d2019-06-05T06%253a11%253a07Z%26wauth%3durn%253aeasyjet.com%253amember for web
https://www.easyjet.com/en/mobile-ap

[2019-06-05 09:07] brunolajoie commented on #46
@corradio about https://github.com/tmrowco/tmrowapp-contrib/issues/46#issuecomment-498582904

@tgv comment suggests 2 completely different figures (to be compared with your 1kgCO2eq/day household electricity use)
- 0.45 gCO2e per minute, or 0.6kg/day (for youtube, based on a 2019 peer-reviewed paper)
- 0.2 gCO2e per second, or 17kg/day (for web surfing with video, based on a 2015 non-peer reviewed

[2019-06-05 09:24] tgy commented on #46
@brunolajoie Great, thanks! I got a response from the authors of the paper and they told me that my computation makes sense.

[2019-06-05 10:01] tgy commented on #46
I've created #56

[2019-06-06 07:26] corradio commented on #46
Thank you everyone for the effort. This seems to be extremely low compared
to other activities we want to track (transportation, groceries etc..).
I therefore direct my attention to activities that represent larger
emissions, but if someone feels passionate about pushing this forward and
wants to build an integration that connects to youtube/netflix, please go
ahead! Seems like we have all the pie

[2019-06-06 08:30] tgy commented on #46
Some insights from the original authors of the paper

On 06.06.2019 00:26, Olivier Corradi wrote:

Yes, maybe building this integration is not worth it. I think we don't
really have all the pieces because thoroughly going through the YouTube
API I couldn't find some way to retrieve metrics for how much time the
user spent watching videos. We would have to do that differently.

Maybe I should focus

[2019-06-07 09:40] corradio opened #57 "🇫🇷 Linky: official API"
We already have a Linky integration which is unfortunately quite buggy.
Also it doesn't support fetching hourly values.
There's an official API here: https://datahub-enedis.fr/data-connect/parcours-client/
It allows to get half-hourly values.
More info here: https://datahub-enedis.fr/data-connect/documentation/metering-data/

[2019-06-09 15:05] corradio opened #58 "True Energy EV Api"
True energy has an API but it's not yet complete yet (it lacks vehicle charging history). I've been told it will be opened up.
https://trueenergyaps.github.io/api/

[2019-06-11 13:01] corradio opened #59 "Google Purchases"
Links:
- https://myaccount.google.com/purchases?pli=1
- https://support.google.com/accounts/answer/7673989?co=GENIE.Platform%3DAndroid&hl=en

[2019-06-15 17:18] martincollignon opened #60 "🇺🇸Integration with Instacart"
**WHY**
Instacart has 4.3M+ users in the US, and I would imagine with a good proportion of early adopters / techies. This could thus be a good start integration to get more developers on board with the project.

Instacart has also released 3m+ orders https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2 which could be used for this integration but also other purposes (CO2

[2019-06-16 09:38] martincollignon opened #61 "Integration with PG&E (Pacific Gas and Electric Company)"
**WHY**
PG&E is the electricity & gas monopoly in NorCal with 5MM+ customers, covering SF and Silicon Valley (and thus many developers). Could be a good way to get developers from this area hooked and show how it works
**HOW**
https://pgesupport.zendesk.com/hc/en-us/articles/115006411387-How-do-I-view-daily-and-hourly-usage-information-Residential-customers-

[2019-06-16 09:45] martincollignon opened #62 "🇺🇸Integration with Southern California Edison"
**WHY**
14 million users in Southern California. Given the propensity of Californians to be interested in climate change and the amount of developers in this region, it could be relevant to do an integration to cover this region
**HOW**
sce.com/myaccount

[2019-06-16 09:47] martincollignon opened #63 "Datasets for groceries / retail"
Datasets to train models / prioritize efforts:

https://www.dunnhumby.com/careers/engineering/sourcefiles
http://archive.ics.uci.edu/ml/datasets/online+retail
https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2

[2019-06-16 09:50] martincollignon opened #64 "🇬🇧Integration with Ocado"
**WHY**
Ocado is the leading online grocery delivery service in UK with AmazonFresh, with 1.3% of grocery sales in the UK.
**HOW**
https://accounts.ocado.com/auth-service/sso/login

[2019-06-16 09:57] martincollignon opened #65 "🇺🇸Integration with Consolidated Edison (Con Ed)"
**WHY**

Con Ed is the leading electricity and gas provider in New York City.

**HOW**

https://www.coned.com/en/login?url=%252fen%252faccounts-billing%252fdashboard&returnUrl=%2Fen%2Faccounts-billing%2Fdashboard

https://www.coned.com/en/accounts-billing/download-con-edison-app

[2019-06-18 19:37] martincollignon commented on #63
https://images-na.ssl-images-amazon.com/images/G/01/rainier/help/icg/grocery_item_classification_guide.html#dc_grocery_fruits-and-vegetables

I like the Amazon nomenclature for classifying grocery items.

[2019-06-19 21:26] martincollignon commented on #50
Could use this to determine GHG based on vehicles? https://github.com/noahforougi/co2emissions/blob/master/co2visualization.Rmd @noahforougi

[2019-06-20 08:25] corradio opened #67 "Missing (rye) bread and spreads in the meal options"
See https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/meal.js

[2019-06-20 08:26] corradio opened #68 "Add pasta and cream in the meal options"
See https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/meal.js

[2019-06-21 14:15] corradio opened #69 "Jedlix"

[2019-06-21 19:51] martincollignon opened #70 "Give the possibility to compensate emissions over time"
Integrating Tripit means I have a quite expensive bill to pay.
To not scare people away, could it be possible to allow for a compensation over time (per month), or a possibility to do partial compensation?

[2019-06-22 08:08] martincollignon opened #71 "Integration with TooGoodToGo"
**WHY**
Food waste is one of the biggest CO2 drivers - TGTG has over 11M users across 12 EU countries (most probably environmentally conscious). They advertise that "saving" a meal saves CO2 (2.5kg is used). I believe the integration would be interesting given user base, brand, and impact. Not sure how to quantify the benefit / CO2 impact.

**HOW**
Apps available on https://toogoodtogo.com/en and

[2019-06-22 08:10] martincollignon opened #72 "Integration with Karma"
**WHY**
Food waste is one of the biggest CO2 drivers - Karma has over 500k users across 3 EU countries (most probably environmentally conscious). They advertise that "saving" a meal saves CO2. I believe the integration would be interesting given user base, brand, and impact. Not sure how to quantify the benefit / CO2 impact.

**HOW**
Apps available on https://karma.life/ and in app stores

[2019-06-23 16:26] corradio commented on #70
Good idea - I'm moving this to our internal issue tracker as this is an app feedback

[2019-06-23 16:32] corradio commented on #7
We're in contact with their support for an initial prototype

[2019-06-23 17:14] martincollignon opened #73 "🇸🇪Integration with ICA"
**WHY**
Biggest retailer in Sweden - available receipts in the membership club. Also has CO2eq are readily available for food: https://www.ica.se/buffe/artikel/mitt-klimatmal-info/

**HOW**
Reverse engineered API: https://github.com/svendahlstrand/ica-api
Web: https://www.ica.se/mittica/#:mittica=kontosaldo
Apps: https://www.ica.se/appar/appen-ica/

[2019-06-23 17:19] martincollignon opened #74 "🇸🇪Integration with Hemköp"
**WHY**
Hemköp is one of the biggest retailers in Sweden

**HOW**
web: https://www.hemkop.se/anvandare/inloggning
iOS: https://apps.apple.com/se/app/hemk%C3%B6p/id690495271
Android: https://play.google.com/store/apps/details?id=se.axfood.hemkop&hl=en

[2019-07-01 07:17] martincollignon opened #76 "Integration with Blablacar"
**WHY**
Blablacar is the biggest carpooling platform worldwide - used by 65m people (in France in particular, 40 percent of people aged between 18 and 35 are using BlaBlaCar.)

**HOW**
web: https://www.blablacar.co.uk/login?redirect=%2F
apps: https://www.blablacar.in/apps-mobile

PM me for login details

[2019-07-01 07:19] martincollignon opened #77 "Integration with GoMore"
**WHY**
Biggest carpooling app in the Nordics - 2m users

**HOW**
web: https://gomore.dk/rides
iOS: https://itunes.apple.com/app/gomore/id671759668
Android: https://play.google.com/store/apps/details?id=com.comuto&hl=hi

PM me for login details.

[2019-07-01 07:23] martincollignon opened #78 "Integration with Flixbus"
**WHY**
Largest long-distance bus rides in Europe, serving 350000 daily bus connections to around 2000 popular European destinations in over 28 countries.

**HOW**
Android: https://play.google.com/store/apps/details?id=de.flixbus.app&hl=en
iOS: https://apps.apple.com/us/app/flixbus-smart-bus-travel/id778437357

PM me for login details

[2019-07-03 01:49] stin7 opened #80 "Green Button for Utility Integration"
From http://green-button.github.io/developers/ :

Utilities listed on http://www.greenbuttondata.org/ include:
* [PG&E](https://www.greenbuttonalliance.org/index.php?option=com_community&view=profile&userid=1000878403)
* [SoCal Edison](https://www.greenbuttonalliance.org/index.php?option=com_community&view=profile&userid=1003856275)
* [Con Edison](https://www.greenbuttonalliance.org/index.php?opti

[2019-07-03 01:50] stin7 commented on #61
Green Button may help, see #80

[2019-07-03 01:50] stin7 commented on #62
Green Button may help, see #80

[2019-07-03 01:51] stin7 commented on #65
Green Button may help, see #80

[2019-07-03 05:42] martincollignon commented on #80
Thank you very much @stin7 ! Any chance you can take a stab at it?

[2019-07-05 15:13] willtonkin opened #82 "Uber: add icons to contrib"
I'm looking at this...

[2019-07-06 10:07] scriptator opened #83 "Domestic fuel oil / gas consumption"
Domestic fuel oil and natural gas are commonly used in central heating systems. I am convinced that for most people who use such heating systems the associated carbon emissions account for a considerable percentage of their carbon footprint. Therefore I suggest to add a possibility to manually enter the annual oil / gas consumption used for heating.

I know that it is not an everyday decision but

[2019-07-07 16:45] corradio commented on #7
Authentication and listing vehicles is still an issue, but else we're able to grab charging history + charging location.

[2019-07-07 17:00] corradio commented on #83
Indeed! Step 1 would be to add a co2 model for it. Is that something you want to take on?

[2019-07-07 20:01] scriptator commented on #83
Yes, sure 👍 This model would only have to convert a given amount of gas or oil to kgCO2eq, right?

[2019-07-08 06:03] corradio commented on #83
That's right (if we believe the input would be in Litres)

On Sun, Jul 7, 2019 at 10:01 PM Johannes Vass <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-07-08 07:28] willtonkin opened #84 "🇬🇧 Integration with SSE smart meters"
I've spotted some possible integration routes out in the wild using SEE home smart meters for gas and electricity.

This would be a web scraper unfortunately.

I'm a SSE (scottish and southern energy) customer so this is something I could take a look at.

https://community.home-assistant.io/t/uk-smart-energy-meters/16545/15

[2019-07-08 14:33] willtonkin opened #85 "Uber: fetch data incrementally"

[2019-07-08 14:34] willtonkin commented on #85
I'm looking at this now

[2019-07-09 07:01] corradio opened #86 "True Energy"
www.trueenergy.dk

[2019-07-09 07:01] corradio opened #87 "Smappee"
https://www.smappee.com/be_en/homepage

[2019-07-09 11:04] martincollignon commented on #73
[code]

other super relevant endpoints.

[2019-07-09 11:26] enjikaka commented on #7
https://smartcar.com/

[2019-07-09 11:34] enjikaka opened #88 "🇸🇪🇳🇴 Integration with SJ"
**Why**

State operated railway company in Sweden that soon is going to [run a large portion of the traffic in Norway](https://www.sj.se/nb/hjem.html) as well.

**How**

API on https://sjmg.sj.se/api2 needs to be reverse engineered I guess. Blog post on it here: http://tagtider.net/blogg/appar/sj-uppdaterar-api-min-resa/

[2019-07-09 11:36] corradio commented on #88
How does that overlap with https://github.com/tmrowco/tmrowapp-contrib/issues/44?

[2019-07-09 11:42] enjikaka opened #89 "🇳🇴 Integration with EnTur (Ruter, NSB)"
**Why**

EnTur is a portal with developer resources towards public transportation in Norway.

**How**

https://www.entur.org/
https://developer.entur.org/
https://github.com/entur/sdk

**Fun**

EnTur allows you to find scooters or bikes neraby to use instead of the train/bus.

https://developer.entur.org/pages-mobility-docs-scooters
https://developer.entur.org/pages-sdk-api#getbikerentalstation

[2019-07-09 11:51] enjikaka commented on #88
@corradio Skånetrafiken only run traffic in Skåne. SJ runs in the whole country (and also sells tickets for Skånetrafiken I think)

[2019-07-09 12:04] martincollignon opened #90 "🇸🇪Integration with Svenska Energi Gruppen"
WHY:

Looks like the easiest way to get utilities data for all Sweden. Example of usage: https://www.greenely.se/

HOW

https://www.svenskaenergigruppen.se/produkter/Utveckla%20sj%C3%A4lv

[2019-07-09 12:07] martincollignon opened #91 "Integration with Smart Car"
**WHY**
https://smartcar.com/ provides an API for integrating with Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dodge, GMC, Jeep, Lexus, Ram, Tesla, and Volkswagen vehicles across the U.S.

**HOW**
https://smartcar.com/product/odometer/ would make it very easy to get a very accurate CO2 calculation of these brands.

[2019-07-10 09:18] #85 closed

[2019-07-12 07:36] corradio commented on #46
@martincollignon you mentioned this:
![image](https://user-images.githubusercontent.com/1655848/61110815-73fd5300-a488-11e9-97ab-e02ce8e86c4a.png)

This seems to be quite different numbers? Here it's more 18gCO2eq/minute!

[2019-07-12 09:51] bokub commented on #57
Would you consider using my [linky npm module](https://github.com/bokub/linky) ?

Do you need help on that ?

[2019-07-12 11:51] corradio commented on #57
Hi Boris,

I looked at your npm module and I think we'd rather use the official API
for stability.
If you're interested in updating your module to work with the official API
we could integrate it?

Olivier

On Fri, Jul 12, 2019 at 11:51 AM Boris K <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow

[2019-07-12 13:03] corradio commented on #7
Great - we've added a new issue for smart car.
For Tesla Cockpit, I'm told they are working on authentication flow. We should be able to integrate pretty quickly.

[2019-07-12 13:32] bokub commented on #57
That could be fun !
I'll play a little bit with the official API next week and tell you

[2019-07-13 16:49] martincollignon commented on #63
https://science.sciencemag.org/content/360/6392/987

Could be a great source for CO2 models for food.

[2019-07-15 11:55] bokub commented on #57
So, here I am with some updates. Using the official API was not as easy as I thought.

- First of all, you need to create an application (which has to be validated by the Enedis team 😕  )
- You have to store some secret API keys (that cannot be shared) and use them from a back-end server
- Once a user authorizes your app, Enedis will call an URL that you have to implement, with some sort of storag

[2019-07-15 12:00] corradio commented on #57
The "you need a server" part is unacceptable. Can we contact them?
In the meantime we should definitely use your module. Are you able to do
make the changes? Will happily give you access to developer preview of the
app!

Olivier

On Mon, Jul 15, 2019 at 1:55 PM Boris K <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitte

[2019-07-15 12:21] bokub commented on #57
That's not how the 'API' is designed.
The end user is supposed to land on a webpage owned by enedis saying "Do you give _APP-XXX_ access to your data during a period of 1 month" ?
When the user says "Yes I do", Enedis calls an URL owned by you with tokens in it, which you have to save.
Then, you can use these user-related tokens to call the Enedis API

Sure, I may just need some help to understand

[2019-07-15 12:23] corradio commented on #57
There's already an implementation here:
https://github.com/tmrowco/tmrowapp-contrib/blob/master/integrations/electricity/linky.js
Although it is quite unstable.
Join us on slack (slack.tmrow.com) and then we can help you in more details.

Thanks!

[2019-07-15 14:32] martincollignon opened #94 "Update Readme.md with schema for each activity type"
**WHY**: Make it easier for contributors to get started

[2019-07-15 15:34] brunolajoie commented on #46
I found the scientific source behing this extention:
- Source: https://theshiftproject.org/wp-content/uploads/2018/10/Lean-ICT-Materials-1byte-Model-2018.xlsx
- Full report: https://theshiftproject.org/wp-content/uploads/2019/07/2019-01.pdf

Examining it carefully, the rate they compute is lower than 18g/min, but rather between 1 and 8.
![image](https://user-images.githubusercontent.com/22095643/6

[2019-07-16 07:31] #82 closed

[2019-07-16 11:25] #57 closed

[2019-07-16 12:06] tgy commented on #46
The full report is available [here](https://theshiftproject.org/wp-content/uploads/2018/11/Rapport-final-v8-WEB.pdf). Maybe the carbon footprint of your online video watching activity should be indexed on the energy mix of your country and of the country where the datacenter is located. This means it shouldn't be a single number for every user.

[2019-07-16 13:18] tgy commented on #76
I could work on this one. Plus my sister was working at Blablacar and might still have useful contact there if we need help from them.

[2019-07-16 15:14] martincollignon commented on #94
I still need to add schema for the other activity types.

[2019-07-20 15:12] ovbm opened #99 "Add climate change and blog markdown files to contrib"
Would allow for community translations and general feedback - contributions.

[2019-07-20 15:59] lauvrenn commented on #76
@tgy I started working on this issue a while ago, but wasn't able to get through their authorization. I could still work on it though, so if you're open to working on it together, let me know! :)

[2019-07-20 17:30] lauvrenn commented on #54
I could work on it :)

[2019-07-20 17:50] martincollignon commented on #54
Amazing @lauvrenn ,let us know if you have any questions!

[2019-07-22 16:44] #45 closed

[2019-07-23 06:10] #94 closed

[2019-07-23 06:57] mmarvick commented on #78
I can grab this one - I got a good start on it this evening

[2019-07-23 12:12] kepiej commented on #71
I don't know if it's any help, but I found a basic client using the API: https://github.com/johannesfritsch/tgtg_client

[2019-07-23 12:17] martincollignon commented on #71
That's super helpful! Could you give it a go?

We will also need to do a CO2 model for that. I think they quantify 7kg CO2 savings/meal, but I don't believe many things you purchase can "substract" CO2 from your accounting.

[2019-07-23 12:26] kepiej commented on #71
I don't really know JS and currently have little time. I might try it later though if nobody else takes it. So if you or anyone else wants to have a go, please do so! :)

[2019-07-23 12:28] corradio commented on #71
One caveat: in the app we do carbon *accounting* and not savings. Those are
two different things and those two numbers can't be mixed (let's discuss on
Slack if it's not clear).
If we want to integrate TGTG, it would mean that we should estimate the
carbon footprint of a TGTG meal, based on where you pick it from.

On Tue, Jul 23, 2019 at 2:26 PM Pieter Jan Kerstens <
notifications@github.com> wro

[2019-07-24 08:09] Diwann commented on #76
Hello, I'm working at BlaBlaCar and just received @tgy request.
This is a good project and I would love to see BlaBlaCar integrated.
We don't open our API to retrieve private data like past trips or past bookings but there may be a solution. Can I have access to the beta so that I can build a case internally?

[2019-07-24 08:14] tgy commented on #76
@Diwann that's great! Thanks for doing this 👍

[2019-07-24 16:58] martincollignon commented on #88
Hi @enjikaka , any chance you can take a look at it?

[2019-07-29 12:12] lauvrenn opened #106 "Integration with Wizz Air"
WHY
Wizz Air is one of the most known airlines in Europe.

HOW
Web API endpoint: https://be.wizzair.com/9.14.1/Api/customer/
some known paths: /login, /profile, /mybookings

[2019-07-29 12:21] lauvrenn commented on #106
If the integration is welcomed, I could work on it

[2019-07-29 12:24] martincollignon commented on #106
Go for it ☺️ the more integrations the better. I have personally a weak
spot for utilities, but do what you think is fun to work on!

On Mon, Jul 29, 2019, 14:21 Patricia Wanat <notifications@github.com> wrote:

[2019-07-29 14:24] corradio commented on #2
This seems to be the endpoint we should be using:

[2019-08-02 06:13] anirudh-ramesh opened #107 "Uber: separate cars' CO2 models from that of other vehicles"
I live in India, where Uber offers rides on a variety of vehicles - cars, rickshaws and even motorcycles.

In the case of motorcycles, it appears pretty inefficient since the rider can pick up only 1 passenger who rides pillion, and since these are meant for last-mile connectivity from public transit stations e.g. metro/subway rail or buses, the idle run is significantly higher than average while

[2019-08-02 06:21] anirudh-ramesh opened #108 "Integration with Ecosia"
[Ecosia](https://www.ecosia.org/) is an organization offering a search engine, a Chromium-based mobile browser, and a travel discovery and reservation platform that plants trees using the profits of the activities while using these products.

Roughly 45 searches generate sufficient cash to plant a tree, and these statistics are saved as cookies in the browser. Currently, there's no way to sync the

[2019-08-02 07:22] corradio commented on #107
Do you know if it's possible to get that information from the Uber API?

Olivier

On Fri, Aug 2, 2019 at 8:13 AM Anirudh Ramesh <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-08-02 09:13] anirudh-ramesh commented on #107
I don't see this in the 'User Activity' API that the app is using, but I have earlier used an IFTTT recipe that creates a Google Calendar event that includes the vehicle model when I complete a ride. This means that Uber offers this info in some format, but I have to dig deeper to find out how to access this.

[2019-08-06 07:24] corradio opened #111 "SolarEdge monitoring"
https://www.solaredge.com/sites/default/files/se_monitoring_api.pdf

[2019-08-06 08:08] #54 closed

[2019-08-06 09:53] corradio opened #112 "Linky doesn't work"
Affects @martindaniel4 and @bokub.
Error: Unexpected login response (2): Network Error - Check the Enedis website if the error persists
It would be helpful to increase logging level so we can debug this?

[2019-08-08 08:26] corradio opened #113 "DSB Integration"
DSB has an app where you can save your tickets.
Would be great to integrate with them!

[2019-08-08 08:40] tgy opened #114 "Citymapper integration"
Citymapper tells you "how many trees you saved":

![Screenshot_20190808-103600](https://user-images.githubusercontent.com/694873/62688323-ea7a6b80-b9c8-11e9-8ea5-15b9b1d58443.png)

but probably with trip data we could do more.

[2019-08-16 08:06] martincollignon opened #117 "New plane trip calculation model"
Myclimate.org released a more complete model:
https://www.myclimate.org/fileadmin/user_upload/myclimate_-_home/01_Information/01_About_myclimate/09_Calculation_principles/Documents/myclimate-flight-calculator-documentation_EN.pdf

Could be interesting to use it as well.

[2019-08-19 14:59] martindaniel4 commented on #112
@bokub, @corradio - this is the error I get when I run the playground.

[code]

It's weird since I can see data on my ENEDIS portal:

<img width="1157" alt="Screen Shot 2019-08-19 at 4 58 58 PM" src="https://user-images.githubusercontent.com/695006/63275917-ab8ac680-c2a2-11e9-805e-63881cf33a3c.png">

[2019-08-19 15:14] martindaniel4 commented on #112
Ok it seems that the issue comes from the `getHourlyData` (https://github.com/tmrowco/tmrowapp-contrib/blob/master/integrations/electricity/linky.js#L26).

By default ENEDIS opts you out from the hourly data collection because it is considered a PII (Personable Identifiable Information). You need to opt in hourly data collection from the ENEDIS portal, like below:

<img width="1202" alt="Screen Sh

[2019-08-19 15:26] martincollignon commented on #112
I would say that we should have a check that pulls daily data if we get an error on the hourly data, and probably a guide to how to enable hourly data (because it's much cooler and makes it easier to make recommendations).

[2019-08-19 15:35] martindaniel4 commented on #112
yeah @martincollignon agree. The UI of ENEDIS is so clunky that you might lose some folks in the process. It took me literally 6 months to activate my Linky at home 😅

[2019-08-20 07:48] bokub commented on #112
@martindaniel4 Do you have values if you run the following command in a terminal ?

[code]

[2019-08-20 07:53] martindaniel4 commented on #112
@bokub I do

[code]

[2019-08-20 07:56] martindaniel4 commented on #112
@corradio I also have the following error when trying to connect from the app. Do you have more details in the backend log on why I can't authenticate? I am using the same credentials than in the playground

![IMG_3495](https://user-images.githubusercontent.com/695006/63328628-c1df6380-c330-11e9-956a-d0b0d874ac4f.jpg)

[2019-08-20 07:58] martindaniel4 commented on #112
@bokub I also activated hourly collection. So the `getHourData` should work fine:

[code]

[2019-08-20 08:14] bokub commented on #112
That means the problem in located in the tomorrow implementation, not on enedis side 😕

You can see the logs in the "Feedback" view

[2019-08-20 08:17] martindaniel4 commented on #112
Sounds good thanks for your prompt response @bokub.

Logs in the app are not super helpful 😅

![logs](https://user-images.githubusercontent.com/695006/63330181-ab86d700-c333-11e9-87cd-92d9dd2f1855.jpg)

[2019-08-20 08:54] bokub commented on #112
The error message comes from [here](https://github.com/bokub/linky/blob/master/index.js#L48).

When calling the login URL, enedis is supposed to reply a 302, which contains a cookie that can be used for queries.

In that case, it looks like enedis replies with a 2XX

[2019-08-20 09:06] martindaniel4 commented on #112
Does ENEDIS take Github issue 😃?

[2019-08-20 09:14] bokub commented on #112
I don't thinks so, as this method is absolutely no official 😉

I'll try to do some debugging if I have some freetime soon.

Is this error reproductible on the playground ? Or does it occur only in the mobile app ?

[2019-08-20 09:16] martindaniel4 commented on #112
Ah gotcha.

I can log on the playground and retrieve my data so it seems to be happening only on the app..

[2019-08-20 09:24] bokub commented on #112
@corradio Looks like we cannot help on this 🤷‍♂

[2019-08-20 09:42] martincollignon commented on #112
The maestro is on holidays until 1st september!

[2019-08-20 13:12] FelixDQ commented on #112
I found the issue. `maxRedirects` option in axios is only supported in node. It seems like the solution to this is using fetch instead of axios.

More info here:
https://github.com/axios/axios/issues/674

[2019-08-20 13:20] bokub commented on #112
I'm not sure to understand, what is the engine that executes the code in the mobile app ?

[2019-08-20 14:05] FelixDQ commented on #112
That would be JavascriptCore, the same engine that Safari uses:
https://facebook.github.io/react-native/docs/javascript-environment

If the code works in a browser, then it should work it the app. It's not optimal that the code can't be properly tested in the playground. We should probably find a better solution for that. Right now I think the best way to test the code, is by creating an HTML file

[2019-08-20 20:56] lauvrenn opened #120 "Integration with Tink"
**WHY**
Tink – https://tink.com/ – allows for connecting to banks across Europe through one API, which can be used to calculate CO2 based on bank transactions.

**HOW**
Documentation: https://docs.tink.com/

[2019-08-20 20:58] lauvrenn commented on #120
I'll have a go at it :blush:

[2019-08-22 09:03] stonetwig opened #121 "Suggestion: Integrations should be able to provide it's own models for calculation"
Hello,

[code]

The issue with this calculation is that every country and every public transportion system is not equal. It would be nice if by activities you could add your own method of calculation. For example, if a country has all it's public transports fuel from green sources it will be significantly lower than one that doesn't.

When you create an activity, it would be nice if you could prov

[2019-08-22 20:19] Madi-Ji commented on #114
Up vote for that !

[2019-09-02 18:27] martindaniel4 commented on #112
@corradio, @FelixDQ- do you have updates? Looks like it's on the app side..

[2019-09-02 19:22] FelixDQ commented on #112
As I said, the error is due to this line:
https://github.com/bokub/linky/blob/a56470a2f1c8da8b9991147737beffab07f3e6d1/index.js#L21

`maxRedirects` is only available on nodejs, and the app functions as a browser, and it, therefore, does not work in the app. The playground runs in nodejs, and that is why it works when testing it there.

To fix this issue we should either use fetch as suggested here

[2019-09-03 07:58] corradio commented on #121
Hi @stonetwig ,

Thanks for the suggestion. In order to separate concerns, it makes more sense to have carbon models calculate emissions of activities instead of letting integrations provide their own calculation.
However, in principle, activities should have all the information needed to calculate their footprint (including the country of the activity if that's important in the carbon model).
Thi

[2019-09-03 08:26] martindaniel4 commented on #112
It does @FelixDQ !

@bokub - what do you think about replacing `maxRedirects` in your code?

[2019-09-03 08:35] bokub commented on #112
Yeah, I can try to change it, but I'm not sure I'll have the time to do that soon (pull requests are very welcome of course).

BTW, it's a shame that the playground uses Node.js while the real app uses JavascriptCore...
It's a huge source of potential bugs

[2019-09-03 08:39] corradio commented on #112
Hey guys!

I have some clarifications here. The engine that executes the javascript is indeed JavascriptCore (no problem there) *but* the engine executing HTTP requests is okhttp on Android and on iOS is a native iOS implementation.
That means that when doing a `fetch` call in the browser and in React Native, different engines are used, and there's nothing we can do about it as this is the way RN

[2019-09-03 14:42] martindaniel4 commented on #112
@corradio merging a PR to RN. Your mom must be so proud!

I let you folks figure what's the path forward. Happy to test once the fix is deployed.

[2019-09-05 08:51] martincollignon opened #122 "🇳🇴Integrating with norwegian smart meters"
A discussion with Elhub resulted in the following answer:

[2019-09-07 11:19] bokub commented on #112
I just wanted you to know that I have moved to a new appartment without a Linky, so my Enedis account has been shut down 😕

Sorry but I won't be able to work on any Linky related stuff for the next few months / years

[2019-09-08 15:58] corradio commented on #112
Then I suggest reverting to the previous implementation.

[2019-09-10 13:39] corradio commented on #27
This is being worked on internally. cc @ovbm

[2019-09-10 13:39] #27 closed

[2019-09-12 20:23] martincollignon opened #125 "🇺🇸Integration with Automatic (OBD II app)"
Why: A way to accurately track vehicle usage

How: https://developer.automatic.com/

[2019-09-13 07:08] martincollignon commented on #1
While we can't get data yet, it should be possible for us to start building the integration with the customer API !
https://energinet.dk/El/Elmarkedet/MDA---Ny-loesning

[2019-09-13 13:52] FWirtz commented on #26
I got in touch with @appintheair as the provided link by you @corradio doesn't seem to be working anymore. I will keep you posted here.

[2019-09-16 17:02] PierreMesure commented on #80
Exactly my thought! As soon as I heard about this project, I thought about the Green Button! It's both a standard that's already widely used in the US and one that can be suggested to energy providers when we are lobbying them to provide an access to their data.

I am not using a provider that has implemented the green button but I would be interested in helping to do this integration. If you are

[2019-09-17 22:44] lauvrenn commented on #125
integration with tink isn't certain yet, so I'll try to tackle this one instead :raised_hand:

[2019-09-19 07:44] corradio opened #128 "District heating carbon model for Denmark"
I will use this issue to centralise all information I gather about how to build a carbon model for the district (centralised) heating in Denmark.

## Copenhagen area
Source: https://www.hofor.dk/wp-content/uploads/2019/04/Miljodeklaration-for-fjernvarme2018_udgivet-april2019.pdf
There's a very detailed annual declaration showing:
- the carbon intensity of heating consumed
- the fuel mix used
Here'

[2019-09-19 10:47] martincollignon opened #129 "Getting access to data from companies who don't have an API"
Could there be an icon where if you press it, it will create a draft in your inbox (mailto link) to the right person at the company where we'd like to have an integration with a text like:

"Hi, I'd very much like to be able to see what the CO2 emissions caused by my purchases at your company are. Could you at least create an API to pull your own receipt feed so I can use my own carbon models? The

[2019-09-19 13:31] martincollignon opened #130 "Adjusting food footprint per country"
Could we use this to adjust the carbon footprint per country, depending where you live?
https://www.nu3.de/c/food-carbon-footprint-index-2018/
This could also be used the other way, if an LCA analysis comes from a specific country?

[2019-09-19 21:46] martincollignon commented on #76
@Diwann , any updates? Do you need something from us?

[2019-09-21 08:49] martincollignon commented on #125
Thanks @lauvrenn !

[2019-09-21 08:51] martincollignon opened #132 "LCA/ Carbon models for electronics (without electricity usage)"
We know electronics pollute a lot, it'd be great to find CO2 models so everyone (including Tomorrow) can use this data in their services

[2019-09-21 08:53] martincollignon opened #133 "LCA/ Carbon models for non-food grocery items manufacturing"
It would be great to get CO2 models for non-food grocery items (toiletpaper, toothbrush, etc), so everyone (including Tomorrow) can add them to their services.

[2019-09-21 08:54] martincollignon opened #134 "LCA / Carbon models for appliances (without electricity usage)"
It would be great to find CO2 models for appliances so everyone (including Tomorrow) can use them in their services.

[2019-09-21 09:02] martincollignon opened #135 "LCA / Carbon models for Apple devices"
https://www.apple.com/lae/environment/

[2019-09-21 20:23] FWirtz commented on #26
Sorry, I bring bad news:

[2019-09-21 20:28] martincollignon commented on #26
Ah that sucks! Thanks @FWirtz !

[2019-09-23 13:32] martincollignon commented on #129
Moved to internal

[2019-09-23 13:32] #129 closed

[2019-09-23 14:52] martincollignon commented on #134
What appliances are present in Danish households: http://statistic.electric-demand.dk/Files/Nyhedsrapport%202016%201.1.pdf

[2019-09-23 14:52] martincollignon commented on #132
What items are present in Danish households: http://statistic.electric-demand.dk/Files/Nyhedsrapport%202016%201.1.pdf

[2019-09-24 07:53] martincollignon opened #137 "LCA / Carbon models for clothing"

[2019-09-25 10:34] totum opened #138 "LCA / Carbon model for cars (ICEVs and BEVs)"
# Carbon model for emissions of cars

The emissions from the lifetime of a car can be broken into 2:
- 1. Embodied co2-e from manufacturing and assembly, including raw materials.
- 2. Emissions from use. For BEVs, this heavily depends on the energymix of the grid.

It makes sense that the emissions attributed to a person from usage of a car considers both. In this case, a fraction of the embodied

[2019-09-25 10:48] martincollignon commented on #138
Thanks you @totum . Super useful!

[2019-09-26 06:03] saurabhdaware opened #139 "🇮🇳 Integration with OLA cabs"
OLA cabs is an Indian taxi service which is a strong competitor of uber with better number in terms of expansion in Indian cities and riding app installs.
![](https://s3.us-east-1.amazonaws.com/qz-production-atlas-assets/charts/atlas_HkVd-10VN@2x.png)
[Source: [QZ.COM Article : Ola vs Uber](https://qz.com/india/1545042/ola-vs-uber-the-latest-score-in-the-great-indian-taxi-app-game/)]

It is also e

[2019-09-26 06:04] saurabhdaware commented on #139
I would love to work on this integration (we'll have to register app on the https://developers.olacabs.com first)

[2019-09-26 06:53] corradio commented on #112
@martindaniel4 the new Tomorrow release should have the old code. Are you able to try?

[2019-09-26 06:53] corradio commented on #139
That sounds terrific!

On Thu, Sep 26, 2019 at 8:04 AM Saurabh Daware <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-09-26 07:37] martindaniel4 commented on #112
Let me try !

On Thu, 26 Sep 2019 at 08:53, Olivier Corradi <notifications@github.com>
wrote:

--
Martin DANIEL

@martindaniel4
+ 33 6 51 24 16 68

[2019-09-26 08:58] corradio commented on #139
from the api docs:

@martincollignon can you reach out to them?

[2019-09-26 11:30] martincollignon commented on #139
I've reached out. @saurabhdaware , my experience is that big companies are only interested in partnerships that make them grow the number of users. This means that sadly our amazing open-source contributors often end-up developing integrations based on scraping or reverse-engineered APIs. Will update once they answer.

[2019-09-26 11:30] martincollignon commented on #125
Hi @lauvrenn , any update? :-)

[2019-09-26 11:44] saurabhdaware commented on #139
Yeah, let's hope for the best now. I'll check for some other possible integrations meanwhile.

[2019-09-26 11:51] martincollignon commented on #139
Sadly,  here is what they answered.

[2019-09-26 12:01] martincollignon commented on #139
Here is what they answered.
[image: Screenshot 2019-09-26 at 13.54.39.png]
While it is not ideal, it could be interesting to see if it's possible to
do an unofficial example. We've done others, just like with Rejsekort in
Denmark:
https://github.com/tmrowco/tmrowapp-contrib/blob/martincollignon-patch-1/integrations/transportation/rejsekort.js

On Thu, 26 Sep 2019 at 13:44, Saurabh Daware <notifica

[2019-09-26 12:11] saurabhdaware commented on #139
Denmark:
https://github.com/tmrowco/tmrowapp-contrib/blob/martincollignon-patch-1/integrations/transportation/rejsekort.js

Cool I'll go through it and check if we could do something similar

[2019-09-26 12:12] saurabhdaware commented on #139
Denmark:
https://github.com/tmrowco/tmrowapp-contrib/blob/martincollignon-patch-1/integrations/transportation/rejsekort.js

Cool I'll go through it and check if we can do something similar

[2019-09-26 12:35] brean opened #140 "Home-Assistant integration"
[Home Assistant](https://www.home-assistant.io/) integration that goes both ways:
 - The Home Assistant loveace UI (dashboard) could benefit from a view that shows information from the tomorrow-app.
 - The data from Home assistants heating, light, ... systems could be used to calculate CO2 emissions.

[2019-09-26 13:31] saurabhdaware commented on #139
**Bad News:** So apparently the only way to login to OLA is OTP and I don't think so it will be possible to get past their login system any other way.

[2019-09-26 14:07] nhc opened #141 "Integration with Strava"
**Why**
Strava allows walkers / runners / cyclists (myself included in this) to log their daily commute via GPS. It would be useful to have an integration which automates the daily totals for these activities.

Useful for

- a more accurate comparison with driving, public transport etc
- automation rather than entering into the app

**How**
Strava has an extensive API here https://developers.strav

[2019-09-26 14:07] nhc commented on #141
I will work on this please :)

[2019-09-26 16:37] martincollignon commented on #140
Great idea. I'll add a feature for our app to allow for connecting externally.
One issue is that we currently don't get any data on individuals on our app (private-by-design), so the first action point (for now) is tough.

[2019-09-26 16:37] martincollignon commented on #141
Neat! Looking forward to seeing this!

[2019-09-26 18:07] martincollignon opened #142 "BMW & Mini Connected Drive"
Home Assistant has done it: https://www.home-assistant.io/components/bmw_connected_drive/

[2019-09-26 18:08] martincollignon opened #143 "FleetGo integration"
https://www.home-assistant.io/components/fleetgo/

[2019-09-26 18:09] martincollignon commented on #9
https://www.home-assistant.io/components/nissan_leaf/ done by home automation

[2019-09-26 18:10] martincollignon opened #144 "Integration with Volvo Oncall"
https://www.home-assistant.io/components/volvooncall/

[2019-09-26 18:15] martincollignon opened #145 "🇬🇧Integration with British Gas"

[2019-09-26 18:16] martincollignon opened #146 "🇬🇧Integration with EDF Energy"

[2019-09-26 18:16] martincollignon opened #147 "Integration with E.ON"

[2019-09-26 18:17] martincollignon opened #148 "Integration with NPower"

[2019-09-26 18:17] martincollignon opened #149 "🇬🇧Integration with Scottish Power"

[2019-09-26 18:19] martincollignon opened #150 "Integration with VOI"

[2019-09-26 18:20] martincollignon opened #151 "Integration with Bird"

[2019-09-26 18:20] martincollignon opened #152 "Integration with Lime"

[2019-09-26 18:20] martincollignon opened #153 "Integration with Circ"

[2019-09-26 18:21] martincollignon opened #154 "Integration with Tier"

[2019-09-26 18:21] martincollignon opened #155 "Integration with Bolt (ex-Taxify)"

[2019-09-26 18:22] martincollignon opened #156 "Integration with Donkey Republic"

[2019-09-27 11:05] lacexd commented on #33
I'd love to work on this!

[2019-09-27 12:42] saurabhdaware opened #157 "Playground UI"
We can start off by adding css to the existing playground. Let's have a discussion here about the UI design.

[2019-09-27 12:53] martincollignon opened #158 "Create output table directly in the playground"
Currently the output table is displayed in the console. A better way would be to create a table component within the playground itself.

[2019-09-27 12:54] martincollignon opened #159 "Create error logs and warnings component in dev playground"
The developer playground should allow you to see warnings and errors, just like the console.

[2019-09-27 12:55] martincollignon opened #160 "Code could be editable directly in the developer playground"

[2019-09-27 13:01] ovbm opened #161 "Create React Frontend for Dev Playground"
Would be great to use react as a front-end for the playground.

[2019-09-27 13:02] ovbm commented on #160
Possible candidates:
https://www.npmjs.com/package/react-simple-code-editor

[2019-09-27 13:07] ovbm commented on #157
Hey there, yes, I think the styling needs to be improved. I'd like to couple this with #161 . Also we could think about working with a component library or a UI framework to make the code easy to maintain and collaborate.
Material UI is very well maintained and stable: https://material-ui.com/

[2019-09-27 13:07] ovbm commented on #157
didn't mean to close ^^

[2019-09-27 13:35] saurabhdaware commented on #157
What are the features that we're going to have in the playground (apart from the ones that exist right now?)

If you want something lightweight then I think [Preact](https://preactjs.com/) or [Svelte](https://svelte.dev) can be good options as well or we can even think of just staying vanilla (if we just want to replicate the existing features)

[2019-09-27 13:39] ovbm commented on #157
There are two main features we want to prioritize:
- [ ] #158
- [ ] #159

could be done vanilla, just thinking about the future really.

[2019-09-27 13:48] ovbm commented on #157
i'm going to be implementing react ASAP so we can use things like react-table and other useful components.

[2019-09-27 13:50] saurabhdaware commented on #157
Yeah I think react will be better in the long run (specially for something like #160 ).

You can let me know if there is anything I can help with.

[2019-09-27 14:05] corradio commented on #160
Also: react-monaco-editor

On Fri, Sep 27, 2019 at 3:02 PM Olivier Baumann <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-09-27 14:09] corradio commented on #25
Duplicate of #157 cc @ovbm

[2019-09-27 14:09] #25 closed

[2019-09-27 14:41] martindaniel4 commented on #112
Still have an issue with the last version:

![IMG_3637](https://user-images.githubusercontent.com/695006/65778145-aba1a000-e145-11e9-9eb6-e96d22a1914d.jpg)

[2019-09-27 16:15] corradio commented on #161
The main thing we're trying to achieve here is to avoid having a bundler for the frontend as a separate process.
Will think about ideas on how to proceed.
One way is to have a `watch` script for those who want to work on the frontend, and commit `dist` files such that people who want to work on integrations can do it without running the bundler.

[2019-09-27 16:16] mohinderps commented on #160
Can I take this ?

[2019-09-27 16:17] corradio commented on #160
I believe this would depend on #161

[2019-09-27 16:54] ovbm commented on #161
I actually made it work by adding a proxy to the react app

[2019-09-28 06:19] martincollignon opened #162 "Improve car trips carbon footprint by adding brand and models"
https://offcents.com/calculation_method

[2019-09-29 16:27] sgilroy opened #165 "Integration with Fitbit"
Similar to #141, an integration with Fitbit could allow commute activities (walk, run, and bicycle) to be synced with Tomorrow automatically.

[2019-09-29 16:39] martincollignon commented on #165
That'd be great. Hopefully walking and running should have a carbon emission of 0 (unless you have an exoskeleton ;) ), which means they would not appear on the bubbles, but could appear in the history.

[2019-09-29 19:55] cem2ran opened #167 "Integration with Comma.ai"
[Comma.ai](https://comma.ai) prides itself as "_ghost-riding for the masses_".

If Tesla is the iPhone of self-driving, Comma is the Android.

**Auth**
A JWT is retrieved through Google OAuth: https://api.comma.ai/#authentication

**Data**
- **Devices:** A user can have multiple devices (often corresponding to a device per vehicle):
https://api.comma.ai/#devices

- **Segments** driven can be retri

[2019-09-29 20:11] martincollignon commented on #167
That'd be a forward looking integration 🤓 (pun not intended!)

On Sun, Sep 29, 2019, 21:55 Cem Turan <notifications@github.com> wrote:

[2019-09-30 01:01] sgilroy commented on #165
@martincollignon Is there a way to get a look at the Tomorrow app so that I can better understand the experience you are creating? Or do you at least have screenshots or videos I can look at? I signed up for the beta at https://www.tmrow.com/

[2019-09-30 07:41] ovbm commented on #160
#161 Should be merged today so you could start working on it soon.

[2019-09-30 07:50] mohinderps commented on #160
Cool!

[2019-09-30 09:36] corradio commented on #112
I started working on a more robust version that includes fetching hourly data:
https://github.com/tmrowco/tmrowapp-contrib/pull/168

[2019-09-30 10:52] #161 closed

[2019-09-30 10:53] ovbm commented on #157
React transition is done, UI is still very crude, but If you want to have a go, feel free to make suggestions. The table component could be paginated for example.

[2019-09-30 10:53] ovbm commented on #158
closed by #164

[2019-09-30 10:54] #158 closed

[2019-09-30 10:54] ovbm commented on #160
It's merged, if you want to have a go.

[2019-09-30 11:21] mohinderps commented on #160
Sure.

[2019-09-30 11:44] ovbm commented on #159
This could be a promising candidate: https://www.npmjs.com/package/react-lazylog

[2019-09-30 12:23] juliuste commented on #78
in case this is still open: see also [flix](juliuste/flix)

[2019-09-30 12:25] derhuerst commented on #78
@juliuste has built a proof of concept a while ago.

- https://github.com/juliuste/umsteigen.jetzt-rest/blob/57e647a3426199e8252a4b1113843b556ad880cf/lib/greenhouse.js
- https://github.com/juliuste/umsteigen.jetzt-frontend

[2019-09-30 12:27] derhuerst commented on #150
See also https://github.com/ubahnverleih/WoBike/blob/master/Voi.md for an API documentation.

[2019-09-30 12:27] derhuerst commented on #151
See also https://github.com/ubahnverleih/WoBike/blob/master/Bird.md for API documentation.

[2019-09-30 12:27] derhuerst commented on #152
See also https://github.com/ubahnverleih/WoBike/blob/master/Lime.md for API documentation.

[2019-09-30 12:28] derhuerst commented on #153
See also https://github.com/ubahnverleih/WoBike/blob/master/Flash.md for API documentation.

[2019-09-30 12:29] derhuerst commented on #154
See also https://github.com/ubahnverleih/WoBike/blob/1144b5a6051101be3168a045694626c554cad2b0/README.md#tier-scooter-europe-uae for API documentation.

[2019-09-30 12:29] derhuerst commented on #155
See also https://github.com/ubahnverleih/WoBike/issues/88.

[2019-09-30 12:30] derhuerst commented on #156
See also https://github.com/ubahnverleih/WoBike/issues/78 for API documentation.

[2019-09-30 12:49] mohinderps commented on #161
Got it to run after adding @babel/plugin-proposal-class-properties, @babel/plugin-transform-runtime and babel-plugin-wildcard in the package.json.

[2019-09-30 12:57] corradio commented on #161
hum - weird. Did you have to add it in the root package.json or in the
playground package.json?

On Mon, Sep 30, 2019 at 2:49 PM Mohinder Saluja <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-09-30 13:25] mohinderps commented on #161
root package.json

[2019-09-30 13:28] martincollignon opened #169 "Implement LCA / CO2 models of ADEME"
In French, but contains very comprehensive models for:
- [ ] Television
- [ ] Oven
- [ ] Laptop
- [ ] Dishwasher
- [ ] Desktop computer
- [ ] Washing machine
- [ ] Screen
- [ ] Dryer
- [ ] Refrigerator
- [ ] Smartphone
- [ ] Freezer
- [ ] Microwave
- [ ] MP3 player
- [ ] HiFi system
- [ ] Vacuum cleaner
- [ ] Modem
- [ ] Kitchen Robot
- [ ] Decoder
- [ ] Bread maker
- [ ] Yogurt maker
- [ ] Game c

[2019-09-30 18:03] saurabhdaware commented on #157
Cool, I'll check it out. Also, there are some dependencies which are mentioned in babel-config but are not mentioned in package.json so they were throwing errors when I followed installation step. I've added them to package.json and I'll create PR in some time.

[2019-10-01 07:34] mohinderps commented on #159
I can look into this after finishing #160 .

[2019-10-01 09:46] mohinderps commented on #160
Once I have a string of code from the code editor, how do I run connect and other functions from that string of code? Do I need to parse it or Is there some other way out?

[2019-10-01 09:51] corradio commented on #160
It's not easy to be honest. I think the best could be to pass it through
websocket to the backend which could either:
1. run `eval` to evaluate the code
2. write it to the filesystem where the integration resides such that it
causes the backend to reload, and also makes it easier to commit in git

1. is probably the simplest. We can make a "save" feature that saves it to
disk later on?

On Tue, Oc

[2019-10-01 10:09] mohinderps commented on #160
Let me see if this can be done with eval and get back to you. And then we can decide further.

[2019-10-01 10:13] corradio commented on #160
sounds good, thanks!

On Tue, Oct 1, 2019 at 12:09 PM Mohinder Saluja <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-01 13:17] tgy commented on #114
I sent an email to the CityMapper team and they replied with "Thanks for getting in touch however we don’t share any user collected data so this isn’t a good fit for us." Is this a dead end?

[2019-10-01 14:43] lauvrenn commented on #125
hey @martincollignon , sorry for the delay; I've been quite absent from open-source lately. The code should be up today 😊

[2019-10-01 16:08] tgy opened #172 "Carbon model for buying second-hand"
Buying perfectly good second-hand goods instead of brand new is a very good way to campaign against the unsustainable consumerism society we live in.

In France, several websites exist for facilitating second-hand transactions, such as Leboncoin or Vinted (mainly for clothes).

The type of a good exchanged in a given transaction could be analysed and the carbon footprint induced by the fabrication

[2019-10-01 16:13] martincollignon commented on #172
This is an interesting thought. I don't think this should be counted as a negative carbon footprint, but there could be an idea of decay, as the models are Life-cycle based. A simple model would just allow you to say that it's been pre-owned and we discount the carbon model by 2. We haven't even really started on carbon models for individual items, but let's keep this in mind for later.

[2019-10-01 16:14] martincollignon commented on #165
Can you send me your email on martin.collignon@tmrow.com ? I'll send an alpha invite your way.

[2019-10-01 17:07] lauvrenn commented on #125
#173

[2019-10-02 03:08] codelikeamexican opened #175 "Xiaomi Mi Infrared Remote Control - Integration"
Mi Remote is an app which helps you control a lot of devices including TVs, Set top boxes, DVD Players, Smart Boxes, Air Conditioners, Projectors, Cameras.

[2019-10-02 03:10] codelikeamexican commented on #175
I suggest this integration for the energy waste

[2019-10-02 07:18] konstantinosskoutelis commented on #159
I would like to look into this

[2019-10-02 07:49] ovbm opened #177 "Create Seasonality in Food Models"
A vegetable coming from a greenhouse as a much higher carbon footprint than a non-greenhouse grown equivalent. Heating can increase emissions by factor 2-3x, transport as well: https://www.researchgate.net/figure/fig2_256503477

Lucky for us, seasons for when vegetables and fruits (and even fish e.g.) are available locally are very clearly defined.

Idea: Create a very simple addition of seasonali

[2019-10-02 09:14] mohinderps commented on #160
Hey

I wanted to test an integration through playground. Which one of the existing integrations would be the right one to do so. And also I would need the credentials to do so.

[2019-10-02 11:09] frextrite opened #178 "Broken link to slack workspace in README"
README has a broken link to team's slack workspace

[2019-10-02 12:35] frextrite commented on #178
I was about to work on this but good to see such quick responses. This can be closed now.

[2019-10-02 12:49] #178 closed

[2019-10-02 13:18] dreamerchandra commented on #177
Both BBC and pdf show the Seasonal calendar for fruits (I hope so). But this project is about the carbon footprint. How is the seasonal calendar would help to calculate the carbon footprint?
Maybe I could miss something.

[2019-10-02 13:24] martincollignon commented on #177
Fyi seasonality is part of the source referenced in the huge ingredients PR
(with other variables as well).

On Wed, Oct 2, 2019, 15:18 chandrakumar <notifications@github.com> wrote:

[2019-10-02 13:24] ovbm commented on #177
The climate impact of food items (and everything else, really) depends on a lot of factors related to their production. For example, tomatoes are grown in greenhouses when they are not in season. According to the paper I linked this can increase their carbon footprint by a factor of 2-3x. If we want to give people an accurate representation of their footprint, we should try to take these factors i

[2019-10-02 16:00] ONeill45 commented on #165
I'd like to contribute to this if hands are needed

[2019-10-02 17:17] saurabhdaware opened #182 "Can we do something with this map api?"
This is not exactly an issue or feature request.

So last month we went to one hackathon where we used [Here API](https://developer.here.com/) to make an app and I kind of liked it. They provide a lot of services including location tracking and finding routes etc.

I am not very clear about the idea but we can use it to maybe calculate the cleanest(which costs less carbon emission) way to travel.

[2019-10-03 07:44] #106 closed

[2019-10-03 08:08] corradio commented on #182
Thanks I'll look into it!

On Wednesday, October 2, 2019, Saurabh Daware <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-03 08:11] #48 closed

[2019-10-04 11:06] #125 closed

[2019-10-05 21:43] Pseudotsuga commented on #177
Anecdotally, climate-type would be the best correlation between a user's geographic location and produce seasonality in my mind : https://en.wikipedia.org/wiki/K%C3%B6ppen_climate_classification. I live in a fairly intense microclimate that varies from the rest of the surrounding area so defining by country or even region would be a misrepresentation.

[2019-10-07 06:33] ovbm commented on #177
That's a great resource!

[2019-10-08 07:43] martincollignon commented on #160
@FelixDQ @corradio would one of you mind to give a hand here?
@mohinderps , once you have the answer, could you update our Readme with these details?

[2019-10-08 07:57] mohinderps commented on #160
@martincollignon, yes for sure.

[2019-10-08 11:26] lauvrenn commented on #11
Is the integration open to work on even though they're carbon neutral? If so, I could try it

[2019-10-08 15:53] corradio commented on #160
@mohinderps isn't it possible to eval all the source code's content, including the `import`? I don't think it will be good to transform to `requires` instead.
Maybe someone from the JS community can help us on evaluating files that include `import` statements

[2019-10-08 19:11] DustinHaefele commented on #162
I can work on this.  The US government has an API for fuel efficiency by model.  Looking into integrating that with the offcents formula for emissions.

[2019-10-08 19:16] martincollignon commented on #162
That'd be amazing!

[2019-10-08 21:11] sgilroy commented on #165
@ONeill45 I haven't started any work on this, but I'll update here if/when I do. Feel free to jump on this independently!

[2019-10-09 16:06] ONeill45 commented on #165
@sgilroy I'll start doing some more research on the Fitbit API and let you know if I get any work done on this. @martincollignon could I also get an alpha invite if I send you my email?

[2019-10-09 19:01] batbyR commented on #161
Same problem for me but I had only to install @babel/plugin-proposal-class-properties.

[2019-10-10 08:03] martincollignon commented on #7
It seems like there are some issues on this - if anyone could look at it it'd be appreciated.

[2019-10-10 09:41] martincollignon commented on #7
@enjikaka Smartcar.com is a paid solution, so we'd of course like to avoid this for as long as possible.

[2019-10-10 09:48] enjikaka commented on #7
@martincollignon Can't there be an API key per user? The free tier gives: 3 active vehicles per month, 20 monthly API requests per vehicle. Updating every other day with that probably works?

[2019-10-10 14:11] micheljp commented on #161
Shouldn't @babel/plugin-proposal-class-properties be added to the package.json then?  Cloning the repo and running `yarn` followed by `yarn serve` gets you a module not found error?

[2019-10-14 13:39] #68 closed

[2019-10-14 19:39] ApCoder123 opened #199 "Add Carbon Footprint of Dell Products"
https://www.dell.com/learn/us/en/uscorp1/corp-comm/environment_carbon_footprint_products
This page has the carbon footprint for a range of Dell monitors, laptops and desktops. These could be added the the CO2 models.

[2019-10-14 19:54] martincollignon commented on #199
Great fint!

[2019-10-15 15:02] ovbm opened #202 "Heating bills"
There are various heating providers (mostly district heating I suppose) who offer online portals with digital heating bills. These could be scraped every month to automatically add heating to the app. Maybe we could have a list of those somewhere?
Example:
DE:
https://portal.techem.de/

[2019-10-16 19:55] RishiRich94 commented on #199
Hi, this seems really cool, Is there any way I can take part in this? I am new to open source development. I assume just scraping the data and adding to the footprint?

[2019-10-16 20:07] martincollignon commented on #199
Yup, that would be the way. You can look how it's done here:
https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/purchase/footprints.yml
Maybe
add an attribute called "hidden: true", as we may not want to have all
products in the app

On Wed, 16 Oct 2019 at 21:55, Rishi Khanna <notifications@github.com> wrote:

[2019-10-17 11:50] martincollignon opened #205 "Adding median servings / portions of meal items"
- [x] https://www.who.int/dietphysicalactivity/publications/f&v_intake_measurement.pdf (page 35) for some fruits and vegetables
- [ ] other sources

Should be added to https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/purchase/footprints.yml . There is an example already implemented with "Apple": https://github.com/tmrowco/tmrowapp-contrib/blob/9fd0eb6260996910f8b47e0f1ce66360edeec52c/

[2019-10-17 18:28] Aonepathan commented on #205
@martincollignon Could I tackle this issue?

[2019-10-17 18:40] martincollignon commented on #205
Sure! Go ahead!

On Thu, Oct 17, 2019, 20:28 Abdullah Pathan <notifications@github.com>
wrote:

[2019-10-17 18:59] ovbm opened #206 "Transaction model overestimates transportation emissions"
![9A453698-E93C-44C5-86D8-726D52A4B499](https://user-images.githubusercontent.com/20746301/67038903-95717900-f120-11e9-8ec9-dc03bcfe9ff9.png)

19kg from 110dkk seems off.

[2019-10-17 19:04] martincollignon commented on #206
Can you send all the debug?

On Thu, 17 Oct 2019 at 20:59, Olivier Baumann <notifications@github.com>
wrote:

[2019-10-17 19:22] ovbm commented on #206
![086D43F9-2FEA-4F3D-9F9B-71DA10A92111](https://user-images.githubusercontent.com/20746301/67040672-3f9ed000-f124-11e9-9b48-5c23533b1b0f.png)

[2019-10-17 22:00] Aonepathan commented on #205
Thanks! I've updated the file, please let me know if it needs to be revised or more changes are needed: https://github.com/tmrowco/tmrowapp-contrib/pull/207

[2019-10-18 07:27] corradio commented on #206
The model applied is located at this line:
https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/purchase/index.js#L114
The systems works as intended, except if the coefficient 1.19 kg / € is wrong in the parameters?

[2019-10-19 17:41] liamgarrison commented on #145
I'd be up for giving the UK energy integrations a go as I'm based here and use one of the big providers myself. Anything I should consider from your experience @martincollignon?

[2019-10-19 19:18] martincollignon commented on #145
Hey Liam, the Ørsted integration should be a decent example, where I think
the contributor found the endpoint by looking at requests.  Amazing that
you want to help!

On Sat, Oct 19, 2019, 19:41 Liam Garrison <notifications@github.com> wrote:

[2019-10-20 09:51] liamgarrison commented on #145
Cool, I'll take a look at that integration

[2019-10-20 16:02] martincollignon commented on #205
Thanks @Aonepathan !

To others: There are plenty of other type of foods where we could use some help :-)

[2019-10-20 18:58] martincollignon commented on #160
Hi @mohinderps , any chance you've had time to look at this?

[2019-10-21 07:50] ovbm commented on #206
The parameter seems wrong. This activity is interesting. I have it three times. 1x nordic api, 1x uber, 1x activity detection.

uber 0.16kg:
![IMG_1081](https://user-images.githubusercontent.com/20746301/67186279-11e9ad80-f3e8-11e9-8486-8b32357129e7.png)
activity detection: 0.32kg:
![IMG_1082](https://user-images.githubusercontent.com/20746301/67186288-157d3480-f3e8-11e9-92c3-1375bacafe97.png)

[2019-10-22 03:57] mohinderps commented on #160
Hey @martincollignon. I am not sure about how to go forward with this. As @corradio said, and I agree with him, someone from the JS community needs to help.

[2019-10-22 05:27] mathagician commented on #205
@martincollignon I would like to help. Can you please guide?

[2019-10-22 05:44] martincollignon commented on #205
Sounds great! @mathagician! If you check the https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/purchase/footprints.yml file, this is where we store both the carbon intensity of items and the median portion sizes of these. It would be super appreciated if you could look around the web for data around both!

[2019-10-22 08:40] martincollignon commented on #113
@lauvrenn , any progress here?

[2019-10-22 13:02] lauvrenn commented on #113
@martincollignon yeah, sorry for the delay! I've been trying to locate the DSB endpoints recently, but it appears their website gets the data by returning an already PHP-rendered page, so they're probably just using database calls instead. They _might_ be using some endpoints for the mobile apps though and I tried to track them by connecting a proxy, however, it appears my system doesn't want to c

[2019-10-22 13:12] martincollignon opened #209 "Adding more food items LCA/Carbon models"
Found this:
https://iopscience.iop.org/1748-9326/13/4/044004/media/ERL_044004_SD.pdf (starting page 14)

Adding all of these would probably be overkill, so if you're interested I suggest using common sense on what to add and what not to add ;-) If you're unsure, feel free to add them all and we may use our own discretion on what is useful and what is not.

[2019-10-22 14:41] martincollignon commented on #135
Fixed!

[2019-10-22 14:41] #135 closed

[2019-10-23 15:03] martincollignon commented on #209
https://ora.ox.ac.uk/objects/uuid:a63fb28c-98f8-4313-add6-e9eca99320a5

[2019-10-25 07:21] ovbm opened #213 "Add grocery bags"
Found this very thorough analysis of grocery bags
[978-87-93614-73-4.pdf](https://github.com/tmrowco/tmrowapp-contrib/files/3770816/978-87-93614-73-4.pdf)
![Screenshot 2019-10-25 at 09 20 21](https://user-images.githubusercontent.com/20746301/67551252-c3e6e980-f708-11e9-8888-b39ac6de35a7.jpg)
category explanation in pdf

[2019-10-26 09:27] willtonkin commented on #3
Out of interest, I took a look at traffic of the [official TFL App](https://apps.apple.com/gb/app/tfl-oyster-and-contactless/id1179420088) to sus out their (non-public) API:

Endpoint of interest:
`https://mobileapi.tfl.gov.uk/Cards/Oyster/Journeys?startDate=2019-03-24&endDate=2019-03-29`

which requires headers:
- `X-Zumo-Auth` - seems to be an JWT/oath implementation used by Azure Cloud
- `Oyste

[2019-10-26 12:32] liamgarrison commented on #3
I can take a look at this - I live in London and have recent journeys on my Oyster account

[2019-10-28 09:12] willtonkin commented on #120
this sort of integration would be excellent.

Maybe an investigation to find out what information is typically available and then look to how we might map that to any available carbon models, would be a good first step.

[2019-10-28 09:48] dashuber commented on #205
Hi @martincollignon I added some more servings, see #222. Hope it's what you expected 🙂

[2019-10-28 14:37] Phitrapy commented on #169
I think this issue needs to be updated : most of these items have CO2 models implemented

[2019-10-28 21:09] martincollignon commented on #165
Hey both, any progress?

[2019-10-30 06:48] #3 closed

[2019-10-30 09:57] Nathanpmyoung opened #230 "Idea: Give concrete actions and put people in communities. Voting. Calculate greenhouse gasses not carbon,"
1) Thanks so much for your hard work. This app seems great.
2) You'll be able to see which action will lead to the greatest personal carbon reduction. Can you create communities (whatsapp/facebook to put people in so they can work together to enact these?) look at "one year no beer" for an example of this.
3) Can you rate the plans of the govt and see how your vote could affect your personal carbo

[2019-10-30 10:03] martincollignon commented on #230
Hey there - great feedback, once your respond I'll close the issue and open them internally.

I believe your ideas on community engagement and civic impact would be great! If you have ideas on where to find the data about the performance about your govt on climate issues, that'd be amazing (and also how much the public sector emits!).

Everything we track is carbon footprint (CO2eq). Is there some

[2019-10-30 14:01] vikashchander commented on #151
I want to integration with bird
@martincollignon

Actually this is my first open source contribution.
Can u guide me here?

[2019-10-30 15:19] Nathanpmyoung opened #231 "Integrate footprint of owned website"
https://www.websitecarbon.com/ allows people to judge how much websites they control are generating.

[2019-10-30 15:31] Nathanpmyoung commented on #230
Feel free to close this comment.

[2019-10-31 09:44] martincollignon commented on #151
Hello! Great! We haven't looked deeper into it apart from people being interested. If I were you I'd look at how we've done other integrations - and at the playground on the readme. Have a go and let us know :)

[2019-11-01 12:35] martincollignon commented on #112
Something I found: https://team.hotfix.fr/hotfix/enedis-linky/tree/master

[2019-11-01 13:13] martincollignon commented on #61
https://github.com/mcolyer/smartermeter

[2019-11-02 06:40] martincollignon commented on #1
We've gotten closer to test the API.

It is clear that CPR Number won't be the ideal identifier, as your CPR is not linked to your smart meter, unless you 1) have moved 2) changed provider

What will be needed is a smart meter id and a web access code:
How to find a smart meter id:

How to find a web access code:

We should be able to test this starting from 5th November with mock data:
Endpoint:

[2019-11-03 14:10] szakeetm opened #233 "Suggestion: include Spritmonitor"
[Spritmonitor.de](Spritmonitor.de) is the world's largest community-based catalog of real-life car emissions. Based on its front page, currently 800.000 vehicles' fuel consumption data is logged through its smartphone app.

I believe that it's much easier for a concerned citizen to get his CO2 emission based on fueling data (which is exact and needs around one submission per month) than trying to

[2019-11-03 14:23] martincollignon commented on #233
Sounds good - could you help building the integration?

[2019-11-03 15:52] szakeetm commented on #233
I understand that the app is community-based and you are looking for developers implementing the ideas straight away. Unfortunately, I have no previous experience with website scraping and Spritmonitor doesn't seem to offer a documented API. I wanted to submit this suggestion nevertheless, so that you're aware of this site.

[2019-11-04 14:16] martincollignon opened #235 "Top missing ingredients from 1M+ recipe dataset"
- [x]  salt
- [x]  olive oil
- [x]  flour
- [x]  baking powder
- [ ]  cayenne pepper
- [x]  vegetable oil
- [x]  parmesan cheese
- [x]  vanilla
- [x]  vanilla extract
- [x]  cinnamon
- [ ]  sour cream
- [ ]  soy sauce
- [x]  green onions
- [ ]  mayonnaise
- [ ]  worcestershire sauce
- [ ]  chicken broth
- [ ]  paprika
- [x]  parsley
- [ ]  chili powder
- [ ]  cumin
- [x]  nutmeg
- [x]  pecan nuts

[2019-11-04 15:39] martincollignon commented on #209
http://ageconsearch.umn.edu/bitstream/152215/2/DP2013_1.pdf

[2019-11-06 03:56] rohancalum opened #239 "Spare Labs"
Spare Labs (https://sparelabs.com/) builds software for on-demand mobility. "Spare Analyze allows you to understand the entire customer journey, not just one trip. Learn how your users combine all forms of transportation to complete their trip."

They don't have a consumer app (I think they deprecated it in favour of integrations with their partners' custom apps).

[2019-11-09 13:12] martincollignon opened #245 "Adding wood as fuel source"
available here: https://docs.google.com/spreadsheets/d/1f1j9EeVn9czOZBJKLXvgPwnmldakxuJ7/edit#gid=439900614

[2019-11-09 13:13] martincollignon opened #246 "Improve car model"
Contains scope 1 for fossil-fuels, PHV and EVs: https://docs.google.com/spreadsheets/d/1f1j9EeVn9czOZBJKLXvgPwnmldakxuJ7/edit#gid=439900614

[2019-11-09 13:15] martincollignon opened #247 "Improve hotel model"
Model per country available here: https://docs.google.com/spreadsheets/d/1f1j9EeVn9czOZBJKLXvgPwnmldakxuJ7/edit#gid=439900614

Could be converted to a factor by country

[2019-11-14 17:36] Magalii commented on #247
Hello! I would be very happy to work on that issue.
Just to be sure of what is expected, the goal of this issue is to improve the document footprint.yml by adding more precise values to the category Hotel, right? For example, by adding different intensityKilograms values for different types of hotel and different countries?

[2019-11-14 17:43] martincollignon commented on #247
Hi @Magalii, the idea would be to improve the model in https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/lodging.js to incorporate a factor (0.3x for example) per night hotel based on a country. I believe the original model in https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/lodging.jss is from Switzerland :)

An example on how we've used factors is to look at https://gith

[2019-11-17 04:39] ayakoaohara commented on #246
Hello, can I do tackle this issue? For clarification, would this be to add models of transportations (fossil-fuels, PHEVs, and EVs) in transportation.js?

[2019-11-19 20:33] martincollignon opened #250 "Improve the flight model by adding load factors by region"
https://github.com/Tritlo/FlightCarbonOffset this is super cool.
Could be nice to integrate flight number as an optional input to activities
@Tritlo do you think you could help?

[2019-11-19 20:38] martincollignon opened #251 "Use Defra 2012 supply chain factors for transaction-based models"
Under "Secondary"
https://www.carbonfootprint.com/calculator.aspx

[2019-11-19 21:38] martincollignon opened #252 "Add Lenovo carbon models"
Add https://github.com/rarecoil/laptop-co2e to https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/purchase/footprints.yml

[2019-11-20 09:41] ovbm opened #253 "Update eslint and configure curly braces rules"
New rules lead to ugly code. either disable or configure correctly.
https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-curly-brace-presence.md

[2019-11-20 16:46] ONeill45 commented on #165
@martincollignon Sorry I have been travelling for the last month. I'm back now and will jump back on this this week.

[2019-11-21 14:41] bertrandgorge commented on #87
If anyone is interested in working on this, I have a smappee box so I can share my identifiers for testing.

[2019-11-23 21:32] papb opened #255 "Header is hard to read in www.tmrow.com/jobs"
Hello, I am not sure if this is the correct place to register this, but:

![image](https://user-images.githubusercontent.com/20914054/69485519-6802a400-0e1f-11ea-9b85-0421f474d80e.png)

It is very hard to read `MISSON` from that header...

My screen is 1366 x 768

[2019-11-25 07:58] ovbm commented on #255
thx for raising!
I've made an internal PR and will close this one.

[2019-11-25 07:58] #255 closed

[2019-11-25 10:34] qkniep commented on #252
I added the lenovo data in #256

I omitted the data on Lenovo's Thinkpad X395 b/c there is no data on the carbon footprint of using it. Therefore, it is not really comparable to the other data.

Should the data for the Dell laptops be added as well? Also, the data for the 12-inch MacBook could be added.

[2019-11-25 10:43] martincollignon commented on #252
there is another PR with Dell products! Feel free to add the Macbook :-)

[2019-11-25 11:05] qkniep commented on #252
In #257 I added the 12-inch MacBook, as well as the new 16-inch MacBook Pro.

[2019-11-27 14:39] martincollignon commented on #250
https://theicct.org/sites/default/files/publications/ICCT_CO2-commercl-aviation-2018_20190918.pdf I've reached out to the author as they seem to have all the data needed to make a very comprehensive model.

[2019-11-27 14:41] martincollignon commented on #247
Hi @Magalii are you still interested in helping out? :)

[2019-11-28 10:18] Magalii commented on #247
Hello! Yes, I am still very intersting in working on that issue.  I have been incredibly busy those past two weeks and more than I expected, I am sorry I didn't react earlier. I have a bit more time now so I will be able to tackle it. :)

[2019-11-30 13:01] Magalii commented on #247
Hello @martincollignon !
Looking at the data available, I think it is more appropriate to have a hotel model per country and not per hotel class. There is a wider range of values (from 6.9 to 119.3) per countries and we only have reliable informations per hotel class for Switzerland. If we want to create a coefficient per country and apply it to the different hotel classes, we would need to derive

[2019-12-01 18:54] corradio opened #260 "Oyster card: `OysterCards` is null"
Error: undefined is not an object (evaluating 'y.map')

![image](https://user-images.githubusercontent.com/1655848/69918588-44210d00-1474-11ea-9569-b91b1354ed91.png)

@liamgarrison maybe you can help?

[2019-12-02 08:03] martincollignon commented on #235
+ some new from another data set

- [ ] flour
- [ ] noodles
- [ ] spaghetti
- [ ] tortillas
- [ ] chips
- [ ] scallions
- [ ] raisins
- [ ] cider vinegar
- [ ] balsamic vinegar
- [ ] rice vinegar
- [ ] soy sauce
- [ ] olive oil
- [ ] vegetable oil
- [ ] canola oil
- [ ] sherry
- [ ] chocolate
- [ ] cocoa powder
- [ ] mustard
- [ ] worcestershire sauce
- [ ] ketchup
- [ ] tartar
- [ ] horseradish
-

[2019-12-02 14:23] willtonkin commented on #260
Maybe related, but probably a separate issue:

It might be worth checking if using contactless instead of Oyster Card might mean not returning an `OysterCards` node. If so, is this info emitted? Also, how is a card bound to an account? In the TFL app they have a contactless card on-boarding flow I seem to recall.

LMK if I can be of help @liamgarrison 👍

[2019-12-03 11:33] christopherdoane opened #261 "Integration with Nettbuss (Vy / Bus4You)"
[Nettbuss](https://www.nettbuss.com/) is one of the few private bus transportation companies in Norway and Sweden.

While they do not provide a public API (from what I can find), one could parse their seating text messages to figure out the route.

Example texts that pop up just before boarding:

![IMG_0320](https://user-images.githubusercontent.com/22716910/70047707-d6d2c080-15c8-11ea-8a62-cf9868

[2019-12-03 12:54] christopherdoane commented on #88
It seems that https://sjmg.sj.se/api2 is an unofficial internal API for SJ. I would probably ask them permission before performing extensive queries against it. Their [labs team](https://www.sj.se/sv/om/om-sj/sj-labs.html) is probably who I would contact if this was a high-priority integration.

Did some testing towards their login API-endpoint with the guide attached, and received:
[code]

The ve

[2019-12-03 12:56] christopherdoane commented on #88
An alternative way to fetch things from SJ is via their unofficial v18 REST API. This is the one their website uses.

To get user token (provide username and password as json payload):
`https://www.sj.se/v18/rest/security/usertoken`

Example request payload:
`{"username":"your@email.com","password":"hopefullyGenerated","persistent":false}`

Returns:
- several tokens
- customer.id

You can use the

[2019-12-03 17:30] martincollignon commented on #247
Hi @Magalii ! Sorry for the delay. Feel free to do a model by country. I think right now it would be preferable to have two separate models.
The reason being that I trust DEFRA to do the right thing, I trust South Pole to do the right thing, but I looked at the data from hotelfootprints.org (you can find the data here: https://docs.google.com/spreadsheets/d/1IgtL17Z4x7yxovUubWXyWzEeywIYX21gXz8OUk6

[2019-12-05 16:57] Magalii commented on #247
I have completed the hotel model based on the countries (without a variable for the number of people for now). Should I adapt the Lodging activity formatting in the README to add a mandatory country field? An optional field to determine which model is to be used could be interesting too. Another option could be to create a new type of activity formatting for that new hotel model that is separate f

[2019-12-06 09:41] monsieurhannes commented on #5
Any news on that? I figured that Deutsche Bahn could be used for/instead of quite a lot of train providers, as they support a lot of european connections.

Is there a possibility to link ones Tomorrow account directly to the Meine Bahn so that it fetches  the booked trains directly?

*Wishlist*
[ ] compare with some train db on the web if the train numer is an electric or diesel train and apply th

[2019-12-06 14:53] tibble opened #264 "Integration: SolarEdge solar power inverters"
** Give details about the requested integration**
- API https://www.solaredge.com/sites/default/files/se_monitoring_api.pdf
- Website
- App

**Describe the solution you'd like**
I would love to see an integration with solaredge inverters.  Mine has an add on that monitors my power flow in and out.  This means it can track exactly how much electricity my house is using.  I personally think it shoul

[2019-12-06 15:41] martincollignon commented on #247
I can't remember where I found it!
Please do create the PR :-)

[2019-12-06 15:45] #246 closed

[2019-12-06 15:45] martincollignon commented on #246
Thanks @ayakoaohara !

[2019-12-06 17:21] Fixkey opened #265 "Carbon Model: More diet options and body type"
**Is your request related to a problem? Please describe.**
I think that the current diet options are too vague. I would love to have more personalized options, something more specific than the current 1.3kg for any meat eater.

**Describe the solution you'd like**
Simply inputting weight + gender should narrow down a result quite a bit.
As for diet to keep it simple I would suggest adding 'heavy m

[2019-12-07 20:20] ovbm opened #267 "Tripit integration doesn't import past trips"
When past trips are manually sent to tripit, they aren't imported into the app.

[2019-12-07 20:20] ovbm commented on #267
Link to feature: https://tmrow.productboard.com/feature-board/planning/features/3455921

[2019-12-07 20:23] ovbm opened #268 "Add more granular meal type options"
Meat aAs different meat types have vastly different footprints, it would be nice to select more specific meal types (red meat, white meat, pescetarian etc)

[2019-12-07 20:23] ovbm commented on #268
Link to feature: https://tmrow.productboard.com/feature-board/planning/features/3455922

[2019-12-08 18:01] neugartf opened #269 "Integration with Free Now (ex-mytaxi)"
Today's tours might show up in the webbooker (needs to be confirmed).
https://web-booking.free-now.com/

User sign-in is oauth2 based, but not made _public_

[2019-12-08 21:13] steren commented on #61
Note that there is a [dedicated API](https://www.pge.com/en_US/residential/save-energy-money/analyze-your-usage/your-usage/view-and-share-your-data-with-smartmeter/reading-the-smartmeter/share-your-data/third-party-companies/application-programming-interface.page) with a JavaScript SDK

[2019-12-08 22:29] liamgarrison commented on #260
Sorry just seen this, will have a look

[2019-12-08 22:54] liamgarrison commented on #260
I think that I forgot to check if there were oyster cards present on the account. I'll make it a bit more robust so it doesn't error if there aren't any. I'll also try and pull in the contactless data too. I think I've used my contactless recently so should be able to do that.

[2019-12-09 01:51] steren commented on #46
Just note that Youtube is carbon neutral as Google either purchaces green electricity and offsets the rests for 100% of its operations.

Read more at the many publications at: https://sustainability.google/environment/:

I am not sure if the electricity estimates of watching Youtube video take that into account when computing the CO2.

[2019-12-09 12:13] martincollignon commented on #250
Let's start by adding the load factors by routes (page 12 and 13) from https://theicct.org/sites/default/files/publications/ICCT_CO2-commercl-aviation-2018_20190918.pdf in the current model.

To do's:

- [ ] Add ICAO region on [airports.json ]((https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/flights/airports.json)). Matching by country is shown [page 12 in this document ](https://the

[2019-12-09 15:14] martincollignon commented on #250
Found the kg fuel by aircraft type:
https://www.eea.europa.eu/publications/emep-eea-guidebook-2019/part-b-sectoral-guidance-chapters/1-energy/1-a-combustion/1-a-3-a-aviation-1/view

[2019-12-09 15:17] martincollignon commented on #7
Seems the issues have been fixed on Tesla Cockpit's side.

[2019-12-09 15:17] #7 closed

[2019-12-09 15:17] martincollignon commented on #112
Fixed by @corradio.

[2019-12-09 15:17] #112 closed

[2019-12-09 15:21] martincollignon opened #271 "Improve flight model by adding fuel consumption curve by aircraft type"
Data found here:
https://www.eea.europa.eu/publications/emep-eea-guidebook-2019/part-b-sectoral-guidance-chapters/1-energy/1-a-combustion/1-a-3-a-aviation-1/view

[2019-12-09 15:22] martincollignon commented on #162
Hi @DustinHaefele , how is this model compared to https://climobil.connecting-project.lu/ ?

[2019-12-09 15:24] martincollignon commented on #268
Data to be found here: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4372775/

[2019-12-09 15:29] martincollignon opened #272 "Add GPU usage carbon equivalent"
Data found by @vict0rsch and co. : https://github.com/mlco2/impact
Could use the electricityMap data as a variable!

[2019-12-09 15:33] DustinHaefele commented on #162
Hey, I'll run some comparison and get back to you.

[2019-12-09 15:57] vict0rsch commented on #272
would be cool to work on this together :)

[2019-12-09 17:26] martincollignon commented on #272
Indeed @vict0rsch! Let me know what would make the most sense! You can check an example of an electricity integration here: https://github.com/tmrowco/tmrowapp-contrib/blob/master/integrations/electricity/barry.js

[2019-12-09 18:18] tur-ium commented on #250
Really interesting problem. There is information on the GHG intensity grouped by passenger class and the type of flight (long-haul/short-haul) for flights to an from the UK. Don't know if this may also be reflective of the general situation. I have been using these statistics for developing a tool recently

[2019-12-09 19:16] alixunderplatz commented on #250
@martincollignon great dataset to cover most of the worlds commercial flights!!! :)
Do you plan to connect this with highly detailled flight data from services like https://www.flightradar24.com/ (there are other data providers, too, afaik) for individual flights?
Thinking in another direction, I can imagine this could become something real-time like "the electricityMap for flying" by showing the

[2019-12-09 19:38] martincollignon commented on #250
Hi @alixunderplatz, with this and #271 I believe we'd have one of the most accurate APIs available on the market. I can also see some other possible improvements based on this: https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/829336/2019_Green-house-gas-reporting-methodology.pdf (page 73-79)

[2019-12-09 19:43] alixunderplatz commented on #250
@martincollignon oops, I meant to post my comment in #271 I'll paste it there

[2019-12-09 19:47] alixunderplatz commented on #271
Great dataset to cover most of the worlds commercial flights!!! :)
It could be connected with highly detailled flight data from services like https://www.flightradar24.com/ (there are other data providers, too, afaik) for individual flights.
Thinking in another direction, I can imagine this could become something real-time like "the electricityMap for flying" by showing the approximated CO2_eq emi

[2019-12-09 19:51] martincollignon opened #273 "Improve flight model by adding more differentiation between seating classes"
From https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/829336/2019_Green-house-gas-reporting-methodology.pdf page 80
<img width="682" alt="Screenshot 2019-12-09 at 20 47 41" src="https://user-images.githubusercontent.com/2604526/70467468-904bfd00-1ac5-11ea-9f67-b9db7f274c3c.png">

[2019-12-10 01:12] andrewb39 commented on #271
@martincollignon I'd love to help with this issue if possible

[2019-12-10 08:57] martincollignon commented on #271
@andrewb39 go ahead! @ayakoaohara there is still #273 and #250 ;-)

[2019-12-10 10:02] ovbm opened #274 "test feature"
this is a test

[2019-12-10 10:02] ovbm commented on #274
Link to feature: https://tmrow.productboard.com/feature-board/planning/features/3468469

[2019-12-10 10:03] #274 closed

[2019-12-10 12:38] ovbm opened #275 "Improve ingredient portion sizes"
"Ah  yes, and for meals, I do appreciate the effort of calculating the  ingredients' carbon footprint, but the measurement entities of the  ingredients should probably not be normed at 50 grams - who the hell  eats 50 grams of cinnamon in one meal?"

[2019-12-10 12:38] ovbm commented on #275
Link to feature: https://tmrow.productboard.com/feature-board/planning/features/3469399

[2019-12-10 13:02] ovbm opened #276 "EDF Luminus Integration"
Get electricity data from EDF Luminus:

[https://www.luminus.be/](https://www.luminus.be/nl/corporate/)

[2019-12-10 13:02] ovbm commented on #276
Link to feature: https://tmrow.productboard.com/feature-board/planning/features/3469591

[2019-12-10 14:11] dafrie commented on #159
@ovbm: I looked into react-lazylog but found also a nice alternative making it even simpler for console output: https://github.com/samdenty/console-feed

You can check it out in this draft PR #277. Let me know what you think...

[2019-12-10 20:33] corradio opened #279 "Uber Facebook login redirect doesn't work on mobile devices"
To reproduce:
- start playground
- connect to playground in iOS simulator (remember to enable popups in iOS safari settings)
- tap to connect uber
- press on facebook icon
- log in to facebook
- redirects to uber but doesn't go further

Also seems to happen on Android. Works fine from a desktop browser.

[2019-12-10 21:04] corradio commented on #279
Simpler reproducible case:
- console.log the authorizationCodeRequestUrl L65 in OAuth2Manager.js
- tab to connect uber
- copy link
- open link using Chrome desktop in mobile mode (Galaxy S5) using debugger tools
- click on facebook -> no redirect after facebook login
- open link using Chrome without mobile mode -> works

After some digging I found that this error occurs:
![image](https://user-imag

[2019-12-11 13:19] ovbm opened #281 "Add train type (electric/diesel)"
Improve train model to specify the type of train (mainly electric vs fossil fuel)

[2019-12-11 13:19] ovbm commented on #281
Link to feature: https://tmrow.productboard.com/feature-board/planning/features/3478051

[2019-12-11 14:18] martincollignon commented on #106
Hi @lauvrenn , someone seems to have issues with the integration. Can you check if it's still working on your side?

[2019-12-12 07:34] #159 closed

[2019-12-12 09:56] OlivierAine opened #283 "Carbon Model: [Impact of asset mobilisation]"
**Is your request related to a problem? Please describe.**
How is reflected the carbon cost of owning (or more precisely the cost of mobilizing) assets? For example the construction of a new house or a new car can represent a big part of once carbon footprint

**Describe the solution you'd like**
I would like that my carbon footprint from my main assets (cars, houses) is displayed otherwise it is

[2019-12-12 10:58] martincollignon commented on #271
Other source here: @andrewb39

https://www.icao.int/environmental-protection/CORSIA/CERTTool/ICAO%20CORSIA%20CERT%20version%202019%20-%20Design,%20Development%20and%20Validation.pdf

[2019-12-12 17:44] Spraynard opened #285 "(Fast) Food App Integrations"
I was thinking that the McDonalds app, at the very least, would be something to integrate.

[2019-12-15 04:24] #175 closed

[2019-12-15 14:39] lauschmitt opened #287 "The app needs to allow to manually input Kwh of gaz consumed over a period and calculate the associated CO2 impact"
**Is your request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Who do you

[2019-12-15 14:44] lauschmitt opened #288 "I would need to be able to indicated the amount of PV I produce over a certain period to net it off from my other electricity contract. Alternatively it would be cool to link with a meter associated to it such as a dotvision Spoony or equivalent (and agree on a specific API with dotvision anticipating at best furture harmonised standard pan european API standards"
** Give details about the requested integration**
- API
- Website
- App

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

** Would you would be willing to share your login info to the developer**
It is unlikely that someone who wants to code the integration will have an account - sharing your login information will make it possible to make it work.

[2019-12-15 14:46] lauschmitt opened #289 "Metro & Tramway model"
**Is your request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Who do you

[2019-12-15 14:49] martincollignon commented on #287
duplicate of #83

[2019-12-15 14:49] #287 closed

[2019-12-15 14:54] martincollignon commented on #288
Thank you so much for your feedback.

Could you look at how the other Github issues are formulated? Right now, I believe it would be difficult for contributors to understand what is needed.

- A contributor would not be able to help on the input of PV (this is on Tomorrow)
- A contributor would not be able to help on the unnamed meters
- A contributor may be able to help with an integration of dot

[2019-12-15 14:54] #288 closed

[2019-12-15 14:56] martincollignon commented on #289
I've edited to make it hopefully easier for contributors to help.

Contributors (which is what tmrowapp-contrib is for) are not able add new features to the app - this is on us at Tomorrow.

[2019-12-15 14:58] martincollignon commented on #271
@andrewb39 are you on it? :)

[2019-12-17 17:06] corradio opened #292 "Upgrade Linky to official OAuth2 API"
More info here:
- https://datahub-enedis.fr/data-connect/documentation/api-authorize/

[2019-12-19 09:58] martincollignon opened #293 "Implement Product Shipment carbon model"
Implement the model found under **Shipping Calculator** here: https://carbonfund.org/calculation-methods/

Total number of shipments
Avg Weight of Shipment (lbs)
Avg Shipping Distance (mi)
Shipping Emissions Factors
Air cargo – 1.319 kg CO2e per Ton-Mile
Truck – 0.14645 kg CO2e per Ton-Mile
Train – 0.0242 kg CO2e per Ton-Mile
Sea freight – 0.0603 kgs CO2e per Ton-Mile

Ideally would in km and kg :

[2019-12-19 16:06] lauvrenn commented on #106
hey @martincollignon yeah, I could take a look! Problem is I don't have the credentials with flight history anymore though :grimacing:

[2019-12-20 14:10] sentry-io[bot] opened #294 "TFL HTTP error reports [object Object] instead of String"
Sentry Issue: [TMROWAPP-N5](https://sentry.io/organizations/tomorrow/issues/1398121124/?referrer=github_integration)

[code]

[2019-12-20 19:48] jolsso opened #295 "Integration with eloverblik.dk"
Hi
Eloverblik.dk now has to possibility to allow (near-realtime) fetch of datahub metering data. That would show the footprint of your household meter.
/ Jonas

[2019-12-20 19:49] corradio commented on #295
Thanks @jolsso ,

We already have https://github.com/tmrowco/tmrowapp-contrib/issues/1 opened.
Let us know if you can help!
Duplicate of https://github.com/tmrowco/tmrowapp-contrib/issues/1

[2019-12-20 19:49] #295 closed

[2019-12-30 09:56] ovbm commented on #285
That's a great idea. Do they have an API?

[2019-12-30 10:04] ovbm commented on #265
I wonder if it'd be better instead of inputting weight + gender, to be able to specify portion size. For example, I eat a light breakfast, but a more substantial lunch. That would allow me to select say: "small meal (200g)" in the morning and "big meal (400g)" for lunch. Would that solve the body type issue?

We're tracking ideas for more meal types in this issue, so low-meat could be added there:

[2019-12-31 09:05] Spraynard commented on #285
From the little I've searched around it does not look like any fast food restaurant I can think of has a dedicated public API. Other than the one used in their apps use internally. Kind of a high workload project to get that stuff in order.

Food services like DoorDash and others allow people to order this type of food from outside "official" apps  so I'm unsure if the amount of work that would be

[2019-12-31 10:32] ovbm opened #297 "Add electric power consumption of common appliances."
This would allow users to add regular appliance usage.

Example:
Washing machine, 2h every evening of every weekday.
Tumbler, 2h, twice a week.

etc.

[2020-01-01 13:44] christopherdoane commented on #73
Hi @martincollignon!

I took a look at this one and seem to not be able to access the endpoints you listed (for climateimprint). Did you attach something more in terms of headers in addition to the `AuthenticationTicket`? Getting 404s on the climateimprint endpoints.
The regular `/api/login` and `/api/user` endpoints work well with the `AuthenticationTicket` header attached.

I decompiled the [se.

[2020-01-01 14:01] martincollignon commented on #73
they may have removed them :( @enjikaka can maybe help out?

[2020-01-01 19:22] christopherdoane commented on #73
Ah, that could be the case :/

[2020-01-02 01:16] enjikaka commented on #73
The endpoint are still up. I see them logged in the Network tab when signed in on https://www.ica.se/klimat/mitt-klimatmal/!

I don't see any `AuthenticationTicket` header on the requests though. Only cookies containing various session ids: `ASP.NET_SessionId`, `thSessionId`.

[2020-01-02 14:14] ovbm opened #298 "Improve food models by taking country into account."
For some more remote locations, like Iceland - most food items and even gasoline is shipped there, increasing their carbon footprint.

To be able to take this into account we'd have to:
- [ ] Identify countries for which this is an issue (other than Iceland)
- [ ] Find scientific analysis of how much this increases average item CO2eq
- [ ] Implement country factor

[2020-01-02 14:32] ovbm commented on #5
Haven't had time to work on it unfortunately. I did so a year ago but there were some tokens that I couldn't figure out how to get around. If anyone has time to do it, would be great. I use DB all the time.

[2020-01-02 14:38] christopherdoane commented on #73
@enjikaka You're absolutely right- double checked now, don't know how I missed that.

[2020-01-06 13:29] ovbm opened #299 "Integration: Bulb.uk"
** Give details about the requested integration**
https://bulb.co.uk

**Describe the solution you'd like**
A way to get electricity use from bulb (one of the largest electricity retailers) into the tomorrow app

** Would you would be willing to share your login info to the developer**
?

**Additional context**

[2020-01-06 13:32] corradio commented on #299
FYI they didn't have an API last time I checked.

[2020-01-06 22:49] ABerrow opened #300 "Add search bar for when adding new ingrediants"
i know that this is something little, but as the list for ingredients increases, it will become harder for the user to find the correct ingredients, despite the current categorisation system. as a result a search tool may make it easier to do so.

[2020-01-08 13:36] #268 closed

[2020-01-09 10:03] ovbm opened #301 "Energy model requirements"
Required models for release of app:

Electricity
- [x] / kWh
- [x] / dwelling (average kWh per m3 area per person per day): https://docs.google.com/spreadsheets/d/1UNxxHmLk0RW4d7HvwEgtIFDiobbvWPTuSpVAZRd4f6s/edit#gid=977491364
- [x] / $ spent (electricity bill): https://docs.google.com/spreadsheets/d/1UNxxHmLk0RW4d7HvwEgtIFDiobbvWPTuSpVAZRd4f6s/edit#gid=2074930217

Heating: combination of https://

[2020-01-10 09:38] ovbm commented on #301
@martincollignon do you think this is doable by end of next week?

[2020-01-10 09:39] corradio commented on #301
Maybe I can help here Martin (just ping me)

On Fri, Jan 10, 2020 at 10:38 AM Olivier Baumann <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2020-01-12 19:52] sentry-io[bot] opened #302 "RyanAir error: TypeError: null is not an object (evaluating 'o.body.bookings')"
Sentry Issue: [TMROWAPP-NR](https://sentry.io/organizations/tomorrow/issues/1436999298/?referrer=github_integration)

[code]

[2020-01-12 19:53] sentry-io[bot] opened #303 "RyanAir: TypeError: null is not an object (evaluating 'o.body.token')"
Sentry Issue: [TMROWAPP-NP](https://sentry.io/organizations/tomorrow/issues/1431699873/?referrer=github_integration)

[code]

[2020-01-13 08:11] PierreMesure commented on #73
Great to see a Swedish integration. I actually always boycotted ICA’s membership to prevent tracking even though I live close to a MAXI.

Do you need help on this one? I might be able to spend a few hours on it in the coming weeks.

[2020-01-13 08:18] #302 closed

[2020-01-13 08:46] christopherdoane commented on #73
Go for it @PierreMesure ! I have had some work-related things come up, so I won't realistically have time in the coming weeks to work on this one.

[2020-01-13 10:44] #303 closed

[2020-01-13 15:29] PierreMesure commented on #73
I'll try to start next weekend (25-26)!

[2020-01-14 09:09] sentry-io[bot] opened #306 "activity.id missing from TFL"
Sentry Issue: [TMROWAPP-NT](https://sentry.io/organizations/tomorrow/issues/1441675193/?referrer=github_integration)

[code]

[2020-01-14 23:05] martincollignon commented on #306
@liamgarrison any chance you can look at it?

[2020-01-14 23:06] martincollignon commented on #294
@liamgarrison any chance you can look at it?

[2020-01-14 23:39] martincollignon commented on #301
@ovbm how important is non-EU data?

Some data to explore further for me:
- http://www.entranze.enerdata.eu/
- https://www.indicators.odyssee-mure.eu/energy-efficiency-database.html
- https://www.odyssee-mure.eu/publications/efficiency-by-sector/households/electricity-consumption-dwelling.html
- https://www.globalpetrolprices.com/electricity_prices/

Heating:
- https://www.globalpetrolprices.com/h

[2020-01-15 08:53] martincollignon commented on #301
@corradio I found this data which could be cool to use, but I'll need your help!

**Cooling and heating degree days by country in Europe**

https://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=nrg_chdd_m&lang=en

[2020-01-15 09:06] sorensvejstrup opened #308 "Split carbon models"
- Meal carbon model should be split into mealtype model and ingredients model
- Transportation model should be split into distance model and flight model

Also requires rethinking how we select a carbon model (maybe each model should expose a function telling us if it can run or not), and how to make sure the models are re-run when new versions are changed.

[2020-01-19 16:59] corradio commented on #300
Closing as this will be shipped soon
cc @ovbm @sorensvejstrup

[2020-01-19 16:59] #300 closed

[2020-01-19 17:15] ovbm commented on #265
The easiest way actually would be to be able to specifcy average calorie intake.

[2020-01-19 21:28] flavianh commented on #292
I'll have a look!

[2020-01-20 10:19] ovbm commented on #292
Thanks a lot! Let us know if you need any help, access to a user account etc!

[2020-01-20 13:06] Magalii commented on #247
There is now a hotel model based on countries that can be found in this file: https://github.com/tmrowco/tmrowapp-contrib/blob/master/co2eq/hotelpercountry.js It uses the values for carbon footprint found in the countries.json file that contains all the existing ISO2 country code and the carbon footprint of a hotel stay when that value is known. (https://github.com/tmrowco/tmrowapp-contrib/blob/ma

[2020-01-21 10:23] corradio commented on #297
@ovbm are we already at the stage where we need a carbon model for this? Else I suggest closing to avoid cluttering the repository

[2020-01-21 10:26] corradio commented on #285
Closing due to lack of actionability. Let us know if you find an API that can be used!

[2020-01-21 10:26] #285 closed

[2020-01-21 10:27] corradio commented on #279
@FelixDQ said:

[2020-01-21 10:28] corradio commented on #276
@ovbm is there an API available? If yes, let's post it here to enable someone to start coding it

[2020-01-21 10:33] corradio commented on #261
Hello @christopherdoane ,

Unfortunately parsing text messages is not technically feasible. Let's re-open this issue as soon as we have found an API (maybe they could be contacted?)

Olivier

[2020-01-21 10:33] #261 closed

[2020-01-21 10:34] corradio commented on #260
@liamgarrison I think we can close this right? let's re-open if I'm wrong ;-)

[2020-01-21 10:34] #260 closed

[2020-01-21 10:35] corradio commented on #253
@ovbm I'm closing due to lack of actionability. Feel free to submit a PR to eslint if needed.

[2020-01-21 10:35] #253 closed

[2020-01-21 10:37] corradio commented on #251
Link: https://www.gov.uk/government/publications/2012-greenhouse-gas-conversion-factors-for-company-reporting

[2020-01-21 10:39] corradio commented on #245
Closed as part of https://github.com/tmrowco/tmrowapp-contrib/issues/301

[2020-01-21 10:39] #245 closed

[2020-01-21 10:40] corradio commented on #239
Closing as they don't directly have a consumer app nor an actionable API (from my understanding)

[2020-01-21 10:40] #239 closed

[2020-01-21 10:40] corradio commented on #235
@martincollignon status here? Should we close?

[2020-01-21 10:43] corradio commented on #209
Closing as duplicate of https://github.com/tmrowco/tmrowapp-contrib/issues/235

[2020-01-21 10:43] #209 closed

[2020-01-21 10:46] corradio commented on #275
Duplicate of https://github.com/tmrowco/tmrowapp-contrib/issues/205 (@ovbm remember to update product board link)

[2020-01-21 10:46] #275 closed

[2020-01-21 10:47] corradio commented on #182
Closing due to lack of direct actionability

[2020-01-21 10:47] #182 closed

[2020-01-21 10:48] #169 closed

[2020-01-21 10:48] corradio commented on #162
@martincollignon hasn't this been done?

[2020-01-21 11:00] corradio commented on #149
Let's re-open when we have identified an API.

[2020-01-21 11:00] #149 closed

[2020-01-21 11:00] corradio commented on #148
Let's re-open when we have identified an API.

[2020-01-21 11:00] #148 closed

[2020-01-21 11:00] corradio commented on #147
Let's re-open when we have identified an API.

[2020-01-21 11:00] #147 closed

[2020-01-21 11:00] corradio commented on #146
Let's re-open when we have identified an API.

[2020-01-21 11:00] #146 closed

[2020-01-21 11:01] corradio commented on #145
Hi @liamgarrison , did you identify an API here?
Let's re-open as soon as we have an API that makes this possible

[2020-01-21 11:01] #145 closed

[2020-01-21 11:02] #140 closed

[2020-01-21 11:03] corradio commented on #139
Closing (although I'm said to see this wasn't possible)

[2020-01-21 11:03] #139 closed

[2020-01-21 11:03] #138 closed

[2020-01-21 11:04] #137 closed

[2020-01-21 11:04] #134 closed

[2020-01-21 11:04] #133 closed

[2020-01-21 11:04] #132 closed

[2020-01-21 11:05] #130 closed

[2020-01-21 11:05] corradio commented on #128
Part of #301

[2020-01-21 11:05] #128 closed

[2020-01-21 11:06] #121 closed

[2020-01-21 11:06] #120 closed

[2020-01-21 11:06] #114 closed

[2020-01-21 11:07] corradio commented on #111
Duplicate of https://github.com/tmrowco/tmrowapp-contrib/issues/264

[2020-01-21 11:07] #111 closed

[2020-01-21 11:07] #108 closed

[2020-01-21 11:07] corradio commented on #108
Closing as we currently can't track offsets (only footprint)

[2020-01-21 11:08] corradio commented on #107
Closing due to inactivity

[2020-01-21 11:08] #107 closed

[2020-01-21 11:10] corradio commented on #89
Closing as this seems to only be a journey planner (it doesn't seem to have the journey history)

[2020-01-21 11:10] #89 closed

[2020-01-21 11:11] corradio commented on #83
Duplicate of https://github.com/tmrowco/tmrowapp-contrib/issues/301

[2020-01-21 11:11] #83 closed

[2020-01-21 11:12] corradio commented on #78
Closing due to lack of API

[2020-01-21 11:13] corradio commented on #77
Closing due to lack of API

[2020-01-21 11:13] #77 closed

[2020-01-21 11:14] corradio commented on #74
Closing due to lack of identified API

[2020-01-21 11:14] #74 closed

[2020-01-21 11:14] ovbm commented on #297
tracking on productboard, can be closed

[2020-01-21 11:14] #297 closed

[2020-01-21 11:14] corradio commented on #72
Closing due to lack of identified API

[2020-01-21 11:14] #72 closed

[2020-01-21 11:15] #71 closed

[2020-01-21 11:15] corradio commented on #69
Closing due to lack of identified API

[2020-01-21 11:15] #69 closed

[2020-01-21 11:15] #67 closed

[2020-01-21 11:15] ovbm commented on #297
@corradio btw. feel free to ask soren from now on, he is aware of all of PB and should be able to answer these questions. If he can't he'll ask me.

[2020-01-21 11:15] corradio commented on #65
Closing due to lack of identified API

[2020-01-21 11:15] #65 closed

[2020-01-21 11:15] corradio commented on #64
Closing due to lack of identified API

[2020-01-21 11:15] #64 closed

[2020-01-21 11:15] #63 closed

[2020-01-21 11:15] corradio commented on #62
Closing due to lack of identified API

[2020-01-21 11:15] #62 closed

[2020-01-21 11:16] corradio commented on #60
Closing due to lack of identified API

[2020-01-21 11:16] #60 closed

[2020-01-21 11:17] corradio commented on #58
Duplicate of #86

[2020-01-21 11:17] #58 closed

[2020-01-21 11:17] corradio commented on #55
Closing due to lack of identified API

[2020-01-21 11:17] #55 closed

[2020-01-21 11:17] corradio commented on #59
Closing due to lack of identified API

[2020-01-21 11:17] #59 closed

[2020-01-21 11:17] corradio commented on #53
Closing due to lack of identified API

[2020-01-21 11:17] #53 closed

[2020-01-21 11:18] corradio commented on #51
Closing due to lack of identified API

[2020-01-21 11:18] #51 closed

[2020-01-21 11:18] corradio commented on #50
Closing due to lack of identified API

[2020-01-21 11:18] #50 closed

[2020-01-21 11:18] corradio commented on #49
Closing due to lack of identified API

[2020-01-21 11:18] #49 closed

[2020-01-21 11:18] corradio commented on #47
@FelixDQ I remember you managed to build an integration here right?

[2020-01-21 11:19] corradio commented on #44
Closing due to lack of identified API

[2020-01-21 11:19] #44 closed

[2020-01-21 11:19] #39 closed

[2020-01-21 11:20] #32 closed

[2020-01-21 11:20] corradio commented on #31
Unfortunately it doesn't allow us to get any history

[2020-01-21 11:20] #31 closed

[2020-01-21 11:21] #29 closed

[2020-01-21 11:21] #28 closed

[2020-01-21 11:21] #26 closed

[2020-01-21 11:22] #13 closed

[2020-01-21 11:22] #16 closed

[2020-01-21 11:22] #19 closed

[2020-01-21 11:23] corradio commented on #20
Closing due to lack of identified API

[2020-01-21 11:23] #20 closed

[2020-01-21 11:23] corradio commented on #22
Closing due to lack of identified API

[2020-01-21 11:23] #22 closed

[2020-01-21 11:24] corradio commented on #11
They closed their API :/

[2020-01-21 11:24] #11 closed

[2020-01-21 11:24] #12 closed

[2020-01-21 11:24] corradio commented on #10
Closing due to lack of identified API

[2020-01-21 11:24] #10 closed

[2020-01-21 11:25] corradio commented on #4
Closing due to lack of identified API

[2020-01-21 11:25] #4 closed

[2020-01-21 11:27] wvengen commented on #63
[Eaternity](https://eaternity.org/) may also be interesting, incl. an [API](https://eaternity.docs.apiary.io/).

[2020-01-21 11:40] FelixDQ commented on #47
Yes, it's in the branch fq/nemlig-integration. I can make a draft PR, but
we probably need to extend the co2 model to support this data better before
we merge it.

tir. 21. jan. 2020 12.18 skrev Olivier Corradi <notifications@github.com>:

[2020-01-21 11:50] corradio commented on #47
Can you submit a draft PR? Then we can take it from there.

[2020-01-21 12:37] derhuerst commented on #78
What are your requirements for an API? Does it have to be freely/openly available?

[2020-01-21 12:54] corradio commented on #78
Re-opening as I see that https://github.com/juliuste/flix recommends us to reach out FlixBus to ask for permission (see https://www.flixbus.com/company/partners/affiliate-partners).
Maybe we should simply do that @martincollignon ?

[2020-01-21 20:45] PierreMesure commented on #88
I talkedabout this one to Trafiklab (in charge of coordinating all transport open data in Sweden). They said they would ask SJ about it.

[2020-01-22 20:11] flavianh commented on #292
@ovbm thanks! I do need help:
- I need a user account to access the [provided URL](https://datahub-enedis.fr/data-connect/documentation/api-authorize/), where do I get it?
- What's the user flow where linky's used? Any screen capture would help
- What's currently implemented?
- Is there a specific user account I can test the OAuth2 connection with?
- What are the environments that I can use to val

[2020-01-22 20:20] martincollignon commented on #292
Hi @flavianh !

- If you have a smart meter in France, you can create your own account: https://datahub-enedis.fr/sinscrire/
- Can you send me your email in DM and then you can see how an integration works
- We currently have an unofficial version: https://github.com/tmrowco/tmrowapp-contrib/blob/master/integrations/electricity/linky.js
- Sadly not from us as we're in Denmark :(
- Here is the play

[2020-01-23 08:59] martincollignon commented on #301
@ovbm for heating: https://docs.google.com/spreadsheets/d/1UNxxHmLk0RW4d7HvwEgtIFDiobbvWPTuSpVAZRd4f6s/edit#gid=680497538

[2020-01-23 12:40] martincollignon commented on #301
@FelixDQ FYI!

[2020-01-23 13:03] FelixDQ commented on #301
Fields that we need to add to our schema:
* `countryCode`
* `heatingSource`

I suggest that we create two new .yml files for energy.
energyusage.yml:
[code]
footprints.yml:
[code]

[2020-01-23 13:28] corradio commented on #301
I think we already should have countryCodeISO2 in the schema (required by the hotel models? @martincollignon knows)
What if we already know the energy used? Should we enter it like a smart meter as `energyWattHours`?

[2020-01-23 19:22] liamgarrison commented on #260
Yep we can close this

[2020-01-23 19:22] liamgarrison commented on #306
Sure, I'll take a look.

[2020-01-23 19:41] liamgarrison commented on #145
I couldn't find one unfortunately. I don't have an account with them so not sure it's possible right now.

[2020-01-24 10:13] corradio commented on #301
@martincollignon what needs to happen to finish this? It seems that we need to prepare a PR with:
1. add all HEATING_SOURCE_ constants in definitions.js
2. add energyusage.yml and update footprints.yml
3. add a new carbon model

Is that right @martincollignon ? Can you maybe start doing 1. and 2.?

[2020-01-24 12:07] martincollignon commented on #301
On it.

[2020-01-24 13:41] Lofvenhaft commented on #88
Hello! I'm the one at Trafiklab Pierre talked to. I'll one up what I said and ask the entire country, both SJ and all the PTA's! I'll be back if and when i get a reply!

[2020-01-24 14:40] #294 closed

[2020-01-25 19:53] flavianh commented on #292
@martincollignon So, the current behavior of the app is the following:
- I open Linky
- I enter my [datahub](https://datahub-enedis.fr/sinscrire/) credentials
- I get a "Access Denied" error, which is an error which, I guess, makes sense since the integration is not done

Unclear points are the following:
- I need to enter my Linky ID somewhere, and have no idea how to make that. Any input on this

[2020-01-25 21:33] martincollignon commented on #292
@corradio I think you discussed with Enedis how the oauth flow would work.
Can you help?

On Sat, Jan 25, 2020, 20:53 Flavian Hautbois <notifications@github.com>
wrote:

[2020-01-26 07:04] corradio commented on #292
@flavianh are you sure the linky ID is required in order to fetch data from the datahub? I understand it is required to sign up, but not to fetch?

We are aware that the current version of the app exhibits problems though :(
We will also make sure to link to the enedis datahub from the app to make it clearer how to use the integration (but so far a lot of people have tried to use it!)

[2020-01-26 21:12] martincollignon commented on #252
closing as this is done.

[2020-01-26 21:12] #252 closed

[2020-01-27 12:40] Lofvenhaft commented on #88
SJ not entirely closed down to the idea, but technically a bit stuck in old infrastructure (which they seem to be renewing). I've booked a meeting for next week with them and will hopefully have more information after that meeting!

Laying low on asking the PTA's until I've gotten SJ:s views and know more whats included in the nordic Open Data project that's ongoing, where we have a two-day meetin

[2020-01-27 18:04] PierreMesure commented on #88
Thanks, Jerry! I guess the main question is whether they would be OK about us using their private API, at least until they have a public one. And since you're going to a Nordic meeting, it'd be great if you could show the project to other transportation companies which might be interested and ask them the same.

[2020-01-27 18:39] corradio opened #314 "Ability to estimate electricity usage footprint from a bill"
YAML configuration file prepared by @martincollignon :

[code]

[2020-01-27 18:40] corradio opened #315 "Move carbon model of electricity to contrib"

[2020-01-27 19:11] corradio opened #316 "Ability to estimate heating usage from living area"
https://www.odyssee-mure.eu/publications/efficiency-by-sector/households/heating-consumption-per-m2.html lacks the breakdown by heating type (only shows average energy consumption across types, and therefore doesn't allow us to estimate the average per type).

[2020-01-27 19:20] corradio commented on #301
I'm going to create smaller issues for the work to be done so we can work on this iteratively.
I'll summarise all issues in this comment.
- Carbon footprint of heating based on kWh consumption, and by country when possible (this issue) <-- can be implemented
New issues:
- Move electricity model to contrib https://github.com/tmrowco/tmrowapp-contrib/issues/315 <-- can be implemented
- Ability to es

[2020-01-27 19:29] PierreMesure commented on #73
OK, I've done some tests and got to the same point as you, the climate API doesn't seem to be available through the same authentication as the one that was reverse-engineered from the app.

I asked a question on the Github documentation of the API, let's see if someone else can crack it.

[2020-01-27 19:55] martincollignon commented on #316
https://docs.google.com/spreadsheets/d/1w8otJuUg2tlhpQ6oUIfB6bcpe_AbGgVSYmkSGNBWXXw/edit#gid=1281748574

can you tell me whether this would solve it?

[2020-01-28 06:54] corradio commented on #316
The dataset seems to showcase heat needs of buildings. The plan could be:
1. make a model for heat demand based on m2 and country (technology
agnostic)
2. apply efficiency factor based on what tech is used in order to calculate
energy consumption need

For 1, you now have heat demand (you don't need to breakdown). How could
you scale this to living area?

On Mon, Jan 27, 2020 at 8:55 PM martincoll

[2020-01-28 08:47] flavianh commented on #292
@corradio well I did not use it to sign up to the datahub
In the metering endpoint https://datahub-enedis.fr/data-connect/documentation/api-metering-data-v3/ you have to use the PRM which are user based. Does the app provide that info?

[2020-01-28 12:35] ovbm commented on #301
Let's postpone estimating heating use from living area to a later PR. We need to merge heating asap.

[2020-01-28 12:39] corradio commented on #301
OK I'll have the basic pr ready today

On Tuesday, January 28, 2020, Olivier Baumann <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2020-01-28 12:40] ovbm commented on #301
😍🥳

[2020-01-28 12:42] martincollignon commented on #316
I have here residential floor area per country + number of dwellings per country: https://docs.google.com/spreadsheets/d/1w8otJuUg2tlhpQ6oUIfB6bcpe_AbGgVSYmkSGNBWXXw/edit#gid=802131172

[2020-01-28 13:02] corradio commented on #316
How do we know the slope of the linear scaling (in kWh/additional m2), assuming that heating needs scale linear on surface area (which should be checked, I'm not sure about this)?

[2020-01-28 13:26] corradio commented on #292
The app doesn't provide that info. In principle, a user should just enter
his linky username/password (just like on the website) and we should be
able to retrieve the PRM and then use it to retrieve metering data.
Are you sure there's no way to retrieve the PRM once a user is authorized?
If not, we might have to contact Enedis.

Olivier

On Tue, Jan 28, 2020 at 9:47 AM Flavian Hautbois <notificati

[2020-01-29 02:36] Manu1400 opened #319 "Integration: Cityscoot"
** Give details about the requested integration**
- API: https://api-v3.cityscoot.eu/api
- Website: https://www.cityscoot.eu/ and https://moncompte.cityscoot.eu/
- App: https://apps.apple.com/app/id1011202160 and https://play.google.com/store/apps/details?id=com.livebanner.cityscoot
Localisation map: https://multicycles.org/?l=48.86487114783156&l=2.337056994438172 or https://www.cityscoot.eu/paris

[2020-01-29 02:49] Manu1400 commented on #319
activity.participants: 1 || 2

[2020-01-29 03:00] Manu1400 commented on #319
Scooters used are `Govecs S1.5`, a 50 cm3, 102 kg, made in poland :/

Autonomy: between 40 and 60 km >>> need to be charge by an operator everyday. >>> More carbon.

source: https://www.auto-moto.com/pratique/test/cityscoot-scooter-electrique-libre-service-paris-tutoriel-conseils-114739.html

[2020-01-29 13:16] Lofvenhaft commented on #88
Finland requires that PTA's and Train operators to by law share this information, and they're looking into how to do it best for all parties involved. @HSLDevCom on twitter should be able to answer more questions. Looking into the other countries ASAP!

[2020-01-29 13:41] Lofvenhaft commented on #88
On both twitter and Github i mean of course!

[2020-01-29 13:58] #301 closed

[2020-01-30 15:18] corradio commented on #292
Hi @flavianh ,
I just looked again, and it seems like the authorize endpoint gives you back the PRMs:

https://datahub-enedis.fr/data-connect/documentation/authorize-v1/

![image](https://user-images.githubusercontent.com/1655848/73462405-0c531a80-437c-11ea-8ea4-83b71308390d.png)

Let me know if you're able to help here! Else I might take a crack at it myself.

[2020-01-30 15:18] corradio commented on #306
@liamgarrison I think this was fixed?

[2020-02-02 16:25] liamgarrison commented on #306
I haven't fixed this yet. I can't work out why there wouldn't be a start time for certain journeys. How many occurrences of this are there on Sentry?

[2020-02-02 16:28] corradio commented on #306
Only happened twice 20 days ago. Will reopen of it happens again

[2020-02-02 16:28] #306 closed

[2020-02-07 08:19] sorensvejstrup commented on #61
Reference from @steren for conceptualisation
![slack-imgs](https://user-images.githubusercontent.com/59558094/74012587-e71d6800-498a-11ea-831f-28c3dc30cf4c.jpg)

[2020-02-10 11:51] sentry-io[bot] opened #324 "Error: Could not open URL 'www.hotmaps-project.eu?utm_source=com.tmrow.greenbit': No Activity found to h..."
Sentry Issue: [NORTHAPP-RA](https://sentry.io/organizations/tomorrow/issues/1506566154/?referrer=github_integration)

[code]

[2020-02-10 11:51] corradio commented on #324
@martincollignon I think the hotmaps link requires `https://`

[2020-02-10 13:01] lgommans opened #325 "Signup broken"
When going through the signup procedure as usual (just follow the happy flow), at some point you have to verify your email. A side issue is that it's a bit finnicky to paste into that email address field, but that aside, I have the confirmation email sent, open the link from my inbox, and what it does is open the North app again to show me this:

![a blank, white rounded square in the middle of th

[2020-02-10 20:40] brubsby opened #326 "Enphase Integration"
Enphase Enlighten has all of my solar production and grid usage data, it would be handy for this to be automatically integrated. Although I don't know if the pricing for the API would be restrictive. (Maybe one call to the API a day, or week/month)

![image](https://user-images.githubusercontent.com/57653502/74185953-4e4b4e80-4c0f-11ea-96ed-853b5bff9cfa.png)

https://developer.enphase.com/

[2020-02-11 22:36] martincollignon commented on #324
fixed by #327

[2020-02-11 22:36] #324 closed

[2020-02-13 07:06] martincollignon commented on #1
Alright, it is possible now to integrate and thus close issue #1 :)

https://energinet.dk/-/media/E035C87801B74321A03C07FFC3085EFA.pdf

[2020-02-13 08:56] creimers commented on #325
I was experiencing the same thing with NextDNS enabled on my phone. Must have been blocking requesets to firebase? With NextDNS disabled I was able to sign in allright.

[2020-02-13 10:58] RSickenberg commented on #7
You should use the official Tesla server to get the correct response. Passing to another provider add complexity.

[2020-02-13 14:50] sorensvejstrup opened #329 "Carbon Model: CO2e for e-bikes"
**Problem**
A lot of people use e-bikes. Right now we can only tell users to register it as a e-scooter, but that would add too much CO2e since e-bikes are using a combination of manpower and electricity.

Please add info, if you know about how to calculate CO2e of e-bikes.

[2020-02-14 08:52] #329 closed

[2020-02-14 14:43] Mayjest opened #332 "[Bug] Unable to authenticate with trainline"
I've been unable to authenticate with thetrainline integration. Consistent 403 issues. Have changed password & confirmed I can log in on both the app and desktop with that new password, but still get "Something went wrong while activating the source. HTTPError: Unsuccessful HTTP response. Additional properties: status: 403"

[2020-02-14 17:01] corradio commented on #332
cc @liamgarrison

[2020-02-15 15:27] liamgarrison commented on #332
So it looks like trainline are blocking the `https://www.thetrainline.com/login-service/api/login` POST route if you don't send a certain cookie with the request. This must be a new thing as I can't get get it to work in Postman any more without copying the cookies in that my browser is using to login on the website. It's hard to know which exact cookie it is as there are so many sent with the req

[2020-02-15 16:30] Mayjest commented on #332
I think experimenting with removing particular cookies (specifically the 'login' one from www.thetrainline.com - not thetrainline.com) may have got my account blocked. Getting "Access Denied. You don't have permission to access "http://www.thetrainline.com/login-service/api/login" on this server." when I try and log on normall now >.<

[2020-02-16 15:46] RaniSputnik commented on #299
They seem to be working on one though https://trello.com/c/gzAJUAcI/24-bulb-should-create-apis-so-members-can-develop-tools-themselves-🛠

[2020-02-16 22:55] liamgarrison commented on #332
Same here, it appears if you don't send the right cookies to the POST login endpoint, the server doesn't connect, and it locks you out of your account after a few attempts. This must be a new security measure trainline have implemented.

**If you do a password reset you can get back into your account.**

Did you manage to figure out which cookies are required to be sent with the request? I've trie

[2020-02-17 08:05] corradio commented on #332
Unfortunately it is not possible to fiddle around with Cookies on React
Native.
Should we try to reach out to Trainline instead?

On Sun, Feb 16, 2020 at 11:55 PM Liam Garrison <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2020-02-17 10:54] Mayjest commented on #332
Trying to find any documentation on Trainline's API online was pretty unsuccessful. Looks like they have an API for business users though. I have a feeling that this API is designed for use by Trainline's apps & websites, and introducing this cookie is a way of reducing people like us from getting the data out :(

[2020-02-17 14:25] madsnedergaard commented on #1
Swagger documentation available here: https://api.eloverblik.dk/CustomerApi/swagger/index.html

Also, currently the flow for getting an access token is complicated on the users end - so I have written to them and asked if we could consider an alternative solution.

**Current user flow:**

- User enables integration
- A window opens and user signs in on Eloverblik.dk with NemID
- User has to naviga

[2020-02-17 19:09] andreabotti opened #333 "Link with more airline companies (e.g. easyjet, british airways, vueling)"

[2020-02-19 05:43] Orgidee opened #335 "Integration: [9292]"
** Give details about the requested integration**
- App / website

**Describe the solution you'd like**
Please program integration with 9292, the Dutch public transport planning app.

** Would you would be willing to share your login info to the developer**
Data of the app is available under CCO license and can be downloaded here www.reisinformatiegroep.nl (in Dutch)

**Additional context**
Add an

[2020-02-20 09:01] creimers opened #336 "playground: yarn serve broken"
I'm trying to get the playground up and running. I can install everything alright, but running

`yarn serve`

gives me:

[code]

I tried it with both node 12 and 13.

Do have a suggestion?

[2020-02-20 09:10] madsnedergaard commented on #336
Did you run `yarn install` both in the root and inside the playground? :)

[2020-02-20 09:14] creimers commented on #336
🛎 ding dong.

[2020-02-20 09:14] #336 closed

[2020-02-20 13:51] dafrie opened #337 "Login issue with Transport for London integration"
There were reports that the login does not work ATM. @liamgarrison would you have time to quickly check whether it works on your side? I tried with a user provided account (since I do not have one) but received a `401 - Unauthorized`.

Since meanwhile my IP seems to be blocked and I can't login on the [website](https://account.tfl.gov.uk/) even via a different IP (the account seems to be locked no

[2020-02-20 20:47] liamgarrison commented on #337
So this happened to my account too. I was able to reset my password and now I can login on the TFL website/app again. The North app integration also works again once your password is reset

I'll look into why it's happening, but I suspect they've detected that we're using their mobile api and are locking us out. @corradio I'm not sure what we can do to get around this?

[2020-02-20 22:11] liamgarrison commented on #332
I've looked into this for quite a few hours now and I'm pretty stumped. I've tried copying and pasting the request into cURL and it works there. I've tried playing around with the version of HTTP and it looks like it will only accept requests of HTTP2. if you try and send with 1.1 then it blocks your account. Superagent doesn't support HTTP2, and I'm not sure if React Native does either.

I think

[2020-02-21 07:57] corradio commented on #337
Hi @liamgarrison , @martincollignon is taking steps to reach out with Tfl and see what we can do.
cc @sorensvejstrup

[2020-02-21 07:57] corradio commented on #332
Hi @liamgarrison , @martincollignon is taking steps to reach out with Trainline and see what we can do.
cc @sorensvejstrup

[2020-02-23 08:30] philsturgeon opened #340 "Feature: Trip Origin and Destination"
A handy little feature to make the app more speedy-usable would be to have origin and destination selectors. Things like https://ecotrip.netlify.com/ show you your emissions by the transportation so it's pretty much the same idea, only you've already selected train, bus, whatever.

**Describe the solution you'd like**
When you try to add a Trip, you can select the type and instead of just showing

[2020-02-24 08:29] sorensvejstrup opened #341 "Tesla integration generates energy loss on battery"
From a user:
Normally I have an energy loss on 1% if my car stands still. Right after installing North it increased to 4-5%. This is the only change that happened. After I turned the North integration off in the cockpit the loss was back to normal.

Does anyone owning a Tesla experience the same?

[2020-02-25 11:07] mdjmay4 opened #342 "[Calc] Uber greener than TfL?"
The Uber / TfL balance seems off in my history - not a dev though so struggle to work out exactly why. E.g. One trip I did last month was TfL one way (on the tube, 37min, 1.7kg), and Uber back (25min, 10.12km, 1.2kg). This seems wrong to me, without being able to see the calcs in app I can't verify though.

[2020-02-25 11:45] sorensvejstrup commented on #342
Hi @mdjmay4. Thank you so much for taking the time to give us feedback, it's extremely valuable.
When looking at an activity in the app there's a section with links to the references behind the calculations. Is this what you're looking for?

![IMG_68163C135B61-1](https://user-images.githubusercontent.com/59558094/75244758-ab78ff80-57cc-11ea-8049-bd4c7040f357.jpeg)

[2020-02-25 11:56] mdjmay4 commented on #342
Hi @sorensvejstrup !

Sort of - but as I understand those are just the references for how it might be calculated (which is important), not how it actually is being calculated by the app (e.g. 35 mins x 20 km/h x 0.1 kg/km = 1.17kg, or whatever it is).

My question is more about the veracity of the end result, as I'd be surprised if Uber was more efficient - but without seeing the calculations it's

[2020-02-25 12:19] madsnedergaard commented on #342
Hey, the calculations for different transportation modes are available in [co2eq/transportation.js](https://github.com/tmrowco/northapp-contrib/blob/master/co2eq/transportation.js) - but I agree that it does sound suspicious, so if you can send me a screenshot of the debugging information for each activity I'd like to look into it :)

### How to get debugging information

- go to profile --> setti

[2020-02-25 13:59] mdjmay4 commented on #342
Great - attached below!

![IMG_0913](https://user-images.githubusercontent.com/19587089/75253675-f0099880-57d6-11ea-8a61-808034fb9eeb.PNG)
![IMG_0914](https://user-images.githubusercontent.com/19587089/75253679-f13ac580-57d6-11ea-88f7-a9f5e9b53ad0.PNG)

[2020-02-25 15:29] madsnedergaard commented on #342
Thanks for sharing the screenshots. We looked into it and our current estimation of average car emissions is too low, so we're updating the numbers now. Thanks for pointing it out! 💪

[2020-02-25 15:39] mdjmay4 commented on #342
Great - no worries! TfL themselves report much lower numbers for public transport as well (my journey would be ~0.5kg according to [this](https://tfl.gov.uk/corporate/transparency/freedom-of-information/foi-request-detail?referenceId=FOI-0880-1819) but I understand methodologies will differ.

[2020-02-25 22:01] madsnedergaard commented on #342
Haha yeah, that could very well be it. And we also can't make it specific to the type of transport used (e.g. bus, train, tube), so we're going with an average estimation for public transport based on the [this source](https://static.ducky.eco/calculator_documentation.pdf). Hopefully we can get more precise along the way :)

[2020-02-26 18:46] philsturgeon opened #348 "Carbon Model: Hostes"
You’ve got hotels in purchases but I aim to stay in hostels as much as possible to reduce my footprint. I’m assuming shared dorms and shared bathrooms reduce heating and cleaning so has to be a little different. Don’t wanna split hairs here but I know different classes of hotel have different average footprints so this could just be 1 star.

[2020-02-26 20:12] philsturgeon opened #349 "Integration: MyFitnessPal (Food Tracker)"
- Website: https://www.myfitnesspal.com/
- App: https://play.google.com/store/apps/details?id=com.myfitnesspal.android&hl=en

**Describe the solution you'd like**

So far there are no integrations for meals, so its done on averages for type of diet. MyFitnessPal is one of the most popular food trackers around (after maybe Cronometer, but that's not got an API).

This might be tricky, because despi

[2020-02-27 05:35] steren opened #350 "Integration: Google Maps Timeline / Location History (meta: what about backfill-only integrations?)"
* App: "Google Maps"
* Website: https://www.google.com/maps/timeline

Google Maps allows to store one's [location history](https://support.google.com/accounts/answer/3118687?hl=en). Personally, I have been recording my position since 2009. The data is entirely private to the individual.

**API**
As far as I know, there is no public API to consume the data. However, users can download their entire

[2020-02-27 09:22] martincollignon commented on #342
Closing this for now - model should now be slightly improved. Thanks @mdjmay4 for raising this!

[2020-02-27 09:22] #342 closed

[2020-02-27 09:23] martincollignon commented on #341
The issue here is that Tesla Cockpit (not North!) turns the car on and off to get data. This may result in battery usage. Nothing we can do from our side, apart from communicating with Tesla Cockpit.

[2020-02-27 09:23] #341 closed

[2020-02-27 09:24] martincollignon commented on #335
Hi @Orgidee - would you mind giving us more information? Is there an API available?

[2020-02-27 09:25] martincollignon commented on #333
Hi @andreabotti, agreed!
2 options:
1) connect with Tripit, that covers most airlines in the world
2) find APIs for your preferred airlines, which can then be integrated to North.

For 2), feel free to open a new issue for each API you find :)

[2020-02-27 09:25] #333 closed

[2020-02-27 09:26] martincollignon commented on #319
Hi @Manu1400 , thanks! Do you have more details about the API? Is it possible to get your own trip from it?

[2020-02-27 09:27] martincollignon commented on #289
Closing for now, feel free to reopen if you find the carbon models for these.

[2020-02-27 09:27] #289 closed

[2020-02-27 12:34] martincollignon commented on #298
We will get more clarity with ADEME, let's reopen when we have data.

[2020-02-27 12:34] #298 closed

[2020-02-27 12:35] martincollignon commented on #265
@sorensvejstrup can you add this to productboard (if it's not already) and close this one?

[2020-02-27 12:37] martincollignon commented on #267
Is this an issue on our side (wrong implementation) or an issue on Tripit side? @corradio can you look at it while you look at hotel models?

[2020-02-27 12:39] martincollignon commented on #213
Should be added as a new category in https://github.com/tmrowco/northapp-contrib/blob/master/co2eq/purchase/footprints.yml

[2020-02-27 12:39] martincollignon commented on #202
Let's reopen if someone finds an API.

[2020-02-27 12:39] #202 closed

[2020-02-27 12:40] martincollignon commented on #199
Thanks @ApCoder123 , should be added in #211

[2020-02-27 12:40] #199 closed

[2020-02-27 12:41] martincollignon commented on #177
@sorensvejstrup and @corradio we should think about how we want to integrate this parameter in our footprint model.
@alexisthual, maybe also a potential issue the contributors can look at?

[2020-02-27 12:42] martincollignon commented on #165
Hi @ONeill45, have you gotten closer? Is there an API available?

[2020-02-27 12:44] martincollignon commented on #157
closing due to inactivity. A couple of improvements have already been made. @madsnedergaard @corradio

[2020-02-27 12:44] #157 closed

[2020-02-27 12:45] martincollignon commented on #156
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:45] #156 closed

[2020-02-27 12:45] martincollignon commented on #153
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:45] #153 closed

[2020-02-27 12:45] martincollignon commented on #152
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:45] #152 closed

[2020-02-27 12:45] martincollignon commented on #155
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:45] #155 closed

[2020-02-27 12:45] martincollignon commented on #154
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:45] #154 closed

[2020-02-27 12:46] martincollignon commented on #151
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:46] #151 closed

[2020-02-27 12:46] martincollignon commented on #150
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:46] #150 closed

[2020-02-27 12:46] martincollignon commented on #113
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:46] #113 closed

[2020-02-27 12:47] martincollignon commented on #91
It costs some money sadly. Unless someone express interest to pay for it, let's park it for now.

[2020-02-27 12:47] #91 closed

[2020-02-27 12:47] martincollignon commented on #88
Any update here?

[2020-02-27 12:48] martincollignon commented on #172
@sorensvejstrup would you mind adding it to productboard and close this issue? It could be done as a "checkbox" on purchases, that would divide a purchase by 2x if you've bought it 2nd hand.

[2020-02-27 12:49] martincollignon commented on #86
closing due to inactivity. Let's reopen if someone finds an API to fetch trips and charges.

[2020-02-27 12:49] #86 closed

[2020-02-27 12:50] martincollignon commented on #5
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:50] #5 closed

[2020-02-27 12:50] martincollignon commented on #18
The API has been closed. Closing due to inactivity. Let's reopen if someone finds an API to fetch data on heating.

[2020-02-27 12:50] #18 closed

[2020-02-27 12:51] martincollignon commented on #23
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:51] #23 closed

[2020-02-27 12:52] martincollignon commented on #47
closing due to inactivity. Let's reopen if someone finds an API to fetch receipts.

[2020-02-27 12:52] #47 closed

[2020-02-27 12:53] martincollignon commented on #76
closing due to inactivity. We would love to get access to this @Diwann !

[2020-02-27 12:53] #76 closed

[2020-02-27 12:53] martincollignon commented on #78
closing due to inactivity. Let's reopen if someone finds an API to fetch trips.

[2020-02-27 12:53] #78 closed

[2020-02-27 12:54] martincollignon commented on #84
closing due to inactivity. Let's reopen if someone finds an API to fetch usage

[2020-02-27 12:54] #84 closed

[2020-02-27 12:55] martincollignon commented on #46
https://www.carbonbrief.org/factcheck-what-is-the-carbon-footprint-of-streaming-video-on-netflix

Let's close this unless we can find APIs to pull web usage.

[2020-02-27 12:55] #46 closed

[2020-02-27 12:56] martincollignon commented on #235
@alexisthual FYI !

[2020-02-27 12:57] martincollignon commented on #141
Hi @nhc, how is it looking? :)

[2020-02-27 12:58] martincollignon commented on #315
@corradio can we close?

[2020-02-27 12:59] martincollignon commented on #281
Let's close this unless someone finds data for it.

[2020-02-27 12:59] #281 closed

[2020-02-27 13:00] martincollignon commented on #276
Closing it due to no activity

[2020-02-27 13:00] #276 closed

[2020-02-27 13:05] derhuerst commented on #78
From my experience, you can just use it, without getting into problems. I don't use it for commercial purposes though.

[2020-02-27 13:16] sorensvejstrup commented on #172
Done

[2020-02-27 13:16] #172 closed

[2020-02-27 13:51] Lofvenhaft commented on #88
Oh yes, sorry!

SJ will most likely not release this as an open API until they've implemented their new ticketing/booking system, and I believe there's either a tender out now, or being managed right now! They do not want you to use their private API!

That being said however, they were genuinly interested and was looking for use cases like this to make decisions into what data and API:s to releas

[2020-02-27 13:55] corradio commented on #315
Not done yet unfortunately. It's a task that still needs to be done.

On Thu, Feb 27, 2020 at 1:59 PM martincollignon <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2020-02-27 13:58] corradio commented on #267
I can't reproduce unfortunately, so I won't be able to fix it.

[2020-02-28 06:47] corradio commented on #350
cc'ing @sorensvejstrup (our product man).
This is very interesting. I believe we could look into a "data import" feature where one could import Google Maps Timeline data.
Maybe this should be put as an idea in product board? https://north-app.com/roadmap

[2020-02-28 22:15] Manu1400 commented on #319
Steps to login with Node :
- Create a account on website https://www.cityscoot.eu/ (set a password and a valid email adress)
- Validate your email adress
- Clone https://github.com/loiu92/CityscootRe
- edit config.js file:
[code]
- run node src/index.js
Result: 👍
[code]

[2020-03-01 07:25] steren opened #351 "Playground assumes 'localhost', which might not always be posible."
I am developing in an online IDE [GitPod](https://gitpod.io/), where each open port is served over a secure URL. E.g. when I start a server listening on 3000, I can access it at a URL that looks like https://3000-hash.ws-us02.gitpod.io/.

The problem is that `http://localhost:3000` seems to be hardcoded in a few places in the client and server code of the playground. This prevents the use of any o

[2020-03-01 07:28] steren commented on #351
Note that I assume the problem would also occur on my local machine running ChromeOS: when starting a server, I can access it in my browser at a URL like `http://penguin.termina.linux.test:3000/`.

[2020-03-01 17:31] steren commented on #350
By looking at how integrations work, I also realize that because this integration is neither username/password nor Oauth, it would require a new type of integration input: "file selector", where the user would select a local file from the phone to be parsed by the app.

[2020-03-02 08:45] #351 closed

[2020-03-02 15:13] sorensvejstrup commented on #350
Yes, this is extremely interesting. But as you also mention, @steren, there's a bigger conceptual question here regarding backfill and not having real-time data. I guess this could be solved be reminding the users to add data every now and then. The amount of manual work worries me a bit though.
As you're mentioning there's quite a few changes that need to be taken into account;
1. File, selector

[2020-03-02 17:26] steren commented on #350
I agree.

Regarding 3. (Reminder to upload data), I don think that's needed. In my opinion, users should use the Location History only once. Once they have back-filled the past, they should just populate new activities manually, and more importantly flights.

For me, Parsing Location History is a way to do an audit of my CO2 footprint over the past 10 years. Maybe that's not the role of NorthApp,

[2020-03-03 07:04] steren commented on #350
Here is a proof of concept of unzipping and parsing the exported Location History data: https://observablehq.com/@steren/your-co2-emissions-from-location-history

Which generates a simple viz of the extracted activities:
![image](https://user-images.githubusercontent.com/360895/75750819-e94cbb00-5cd9-11ea-8b44-25adb39c138a.png)

[2020-03-04 23:59] steren opened #356 "Need clarification: Are integration running in a browser or in Node.JS?"
The README should clearly state the environment under which integrations are running.

First, it's JS.

But also, do they run on mobile client in a browser context? on the client in a JS execution environment? server-side in Node.js? Can any NPM package be used (even the ones using native
 code?)

Clarifying this upfront will help developer select which tool they can use.

[2020-03-05 05:31] steren commented on #80
@PierreMesure have you started any work for a green Button integration?

Do you know of any JS sample that would show how to get data?

[2020-03-05 05:33] steren commented on #61
I agree with @stin7 that a Green Button integration is probably preferred, as it is a standard and would unlock PG&E (https://github.com/tmrowco/northapp-contrib/issues/80)

For example, https://www.ohmconnect.com/ is using Green Button to access my PG&E data,

[2020-03-05 09:03] sorensvejstrup commented on #350
Wow, so cool, @steren! I'm not finding the "Location History" though?
This is what I got under Maps 👇
<img width="682" alt="Screen Shot 2020-03-05 at 10 03 19" src="https://user-images.githubusercontent.com/59558094/75965063-8cfbbe00-5ec8-11ea-8ee9-21f65a49ef0a.png">

[2020-03-05 16:58] steren commented on #350
It's not "Maps", it's "Location History". If you do not see it, it might be because you have not opted into the feature?

[2020-03-05 20:26] pierresegonne commented on #250
@martincollignon Can I start working on it? Seems like it would be a good first contribution :)

[2020-03-05 21:02] martincollignon commented on #250
Sounds good!

On Thu, Mar 5, 2020, 21:27 Pierre Segonne <notifications@github.com> wrote:

[2020-03-05 22:32] PierreMesure commented on #80
Hey! No, I haven't started and won’t have time in the coming months. Feel free to try!

I can’t find any code example in JavaScript but there are in Java. It’s just a REST API so it should be pretty easy.

[2020-03-06 07:54] corradio commented on #80
@martincollignon if I remember well we need to pay to get access to the API?

[2020-03-06 09:52] corradio commented on #356
You're right we should clarify that.
On mobile it runs under React-Native, which can mean different things depending on the platform.
In principle node code works, but not always :/
For example, the `fetch` API is implemented differently on Android and iOS (and differently than node and browser as well). One example is that it doesn't handle setting custom cookies.
I'm not sure how to best express

[2020-03-07 11:47] pierresegonne commented on #250
I'm on it :)

- [x] ICAO regions on airports.json. See [here](https://github.com/tmrowco/northapp-contrib/commit/969c1dfd2705f781a4f1fa0664beb6495c244446). Used [this dataset](https://openflights.org/data.html) to link airports (referenced by iata) to their country and then to their respective ICAO regions.
- [] loadfactors.json file
- [] loadfactor as variable
- [] passenger freight ratio

[2020-03-09 08:52] sorensvejstrup commented on #350
Ahh, sure. That's probably it. I did that some years ago but forgot about it when testing. I'll try to find an account I can test with.

[2020-03-09 13:27] Mayjest commented on #332
Any news on this? Have trainline responded?

[2020-03-09 14:51] sorensvejstrup commented on #332
Yes they have. Sorry for not getting back to you earlier. Trainline recognize the need but aren't going to prioritize this right now. So sadly I see now other way that removing the integration from the app.

[2020-03-09 15:19] meyerhj opened #357 "Purchase Fuel & Car Journey"
Does the calculation of the car journey include fuel? Or is that calculated separately through bis fuel. This seems to be double dipping?

[2020-03-09 16:05] Mayjest commented on #357
I had a similar question. I'm assuming that the car journey is the approx cost of the manufacture of the car, and burning the fuel in the engine, and the separate fuel purchase is the approx cost of extracting, processing and moving the fuel to the pump.

There's lots of similar places where it's possible to double dip, and it's hard to know what the 'right' way to do it it. I'm pretty sure my foo

[2020-03-10 20:23] pierresegonne commented on #250
@martincollignon I think I'm done :) Is there any guidelines for PR/linting etc? If no then I'll create the PR

[2020-03-10 20:26] martincollignon commented on #250
Feel free to create the PR :-)

[2020-03-10 20:28] martincollignon commented on #250
If you're excited about this @pierresegonne there is #271 and #273. Once this is done I'm convinced this will be the best open source flight carbon model worldwide.

[2020-03-10 20:37] pierresegonne commented on #250
Yep these two point seem super important to generate a precise model! Will look into it as soon as this is done :)

[2020-03-11 21:38] pierresegonne commented on #271
@martincollignon is there one data source that should be preferred over the other?

From what I see:

| Source | Pros | Cons |
| ------- | ----- | ----- |
| EAA | Excel File, so could automate | Uses some macro and might prevent easy scripting |
| ICAO | UN dependent, so might be more accurate? | Pdf (-> there might be a database somewhere?) |

[2020-03-12 10:41] martincollignon commented on #337
We have reached out - without response. We will for now remove the integration until it is fixed as we don't want to get people kicked out of their accounts :(

[2020-03-12 10:41] #337 closed

[2020-03-12 10:42] #332 closed

[2020-03-12 10:44] martincollignon commented on #348
That's a good idea. I've really struggled finding a scalable model by stars and by countries, so if you could help us find a source where we could have different factors it'd be great! I'll close for now.

[2020-03-12 10:44] #348 closed

[2020-03-12 10:45] martincollignon commented on #335
Closing for inactivity. Feel free to reopen if you find an API :)

[2020-03-12 10:45] #335 closed

[2020-03-12 11:44] martincollignon commented on #271
definitely more EAA actually - there are a few models where we may need
ICAO though. it'd be interesting to see if there is a massive difference.

On Wed, 11 Mar 2020 at 22:38, Pierre Segonne <notifications@github.com>
wrote:

[2020-03-12 18:41] #267 closed

[2020-03-12 18:47] sorensvejstrup commented on #349
This is great. Thanks for all the effort you put into this, @philsturgeon!  I'll send them an email and let you know when I hear back from them.

[2020-03-12 20:05] sorensvejstrup commented on #165
Is this helpful: https://dev.fitbit.com/build/reference/ ?

[2020-03-12 20:12] #325 closed

[2020-03-13 09:33] philsturgeon commented on #348
This seems to have a bunch of information https://www.hotelfootprints.org/

[2020-03-13 09:43] martincollignon commented on #348
I have seen it before - however it is mainly limited to a few chains and there is very rarely the full palette across a country to be able to make good comparisons and to get a sufficient data input.

[2020-03-13 14:40] torbjornvatn commented on #38
I'm actually looking into this and have gotten an OAuth client setup from the guys over at Tibber.
I volunteer to give it a stab 🤚

[2020-03-13 19:05] lgommans commented on #325
@sorensvejstrup Was this fixed?

[2020-03-16 10:43] AyrtonB commented on #33
Can access live and historical prices without an API key through this endpoint: https://energy-db.energy-stats.uk/api/datasources/proxy/1/query

Queries are formed like this: https://energy-db.energy-stats.uk/api/datasources/proxy/1/query?db=octopus&q=SELECT%20distinct(%22unit_price%22)%20FROM%20%22agile%22%20WHERE%20time%20%3E%3D%201584316800000ms%20and%20time%20%3C%3D%201584403199999ms%20GROUP%2

[2020-03-17 09:41] NoamAv1 commented on #271
I would like to help if still needed @martincollignon :)
(First-timer)

[2020-03-17 09:53] martincollignon commented on #271
Great to see so many people helping! When do you think you can work on it?

[2020-03-17 12:52] sorensvejstrup commented on #325
Hi @lgommans. Unfortunately as the North uses Firebase for Authentication it needs access to Google services - they need to be reachable, so this kind of configuration are not going to be supported.

[2020-03-17 13:01] sorensvejstrup commented on #33
Hi @AyrtonB We need to provide at token login for other upcoming integrations, so I believe we can use the same solution. What do you think?

[2020-03-17 20:48] NoamAv1 commented on #271
@martincollignon From tomorrow morning I can start

[2020-03-17 20:53] martincollignon commented on #271
Sounds perfect! Go ahead!

On Tue, Mar 17, 2020, 21:48 NoamAv1 <notifications@github.com> wrote:

[2020-03-18 15:37] NoamAv1 commented on #271
Hey, just made a json file for the fuel burn by the aircraft type, is it okay?
[Here](https://github.com/NoamAv1/northapp-contrib/blob/flight-model/co2eq/flights/fuelByAircraft.json)

[2020-03-18 18:02] martincollignon commented on #271
Hi @NoamAv1 ! Good first pass. What we would actually need is the function of fuel consumption by distance by plane model.

The fuel consumption is currently determined by this function: https://github.com/tmrowco/northapp-contrib/blob/master/co2eq/flights/index.js#L77 : ((a(isShortHaul) * distance * distance) + (b(isShortHaul) * distance) + c(isShortHaul))

This function needs to be changed so it

[2020-03-19 19:20] asaki444 commented on #205
Do you still need help with this issue? I can help out!

[2020-03-19 19:27] martincollignon commented on #205
Hi @asaki444 ! Yes, very simply, we would need to find average servings for food items here (some of them already have them): https://github.com/tmrowco/northapp-contrib/blob/master/co2eq/purchase/footprints.yml#L1182

[2020-03-23 19:54] pierresegonne opened #364 "Update README for co2eq models"
After having worked with the update of the flight model to take into account load factors, I came to realise that the `README` could be improved:

* Some details about the structure of a co2 model would help contributors upgrade/develop new models. For example, it seems that a model has to expose the functions `modelCanRun` and `carbonEmissions` and feature the parameters `modelName` `explanation`

[2020-03-24 07:03] corradio commented on #364
Absolutely!

[2020-03-24 16:35] #364 closed

[2020-03-27 11:35] #292 closed

[2020-03-31 08:07] corradio opened #368 "Create unit test to verify that units in footprint.yml are valid"

[2020-03-31 10:02] NoamAv1 commented on #271
Hey @martincollignon , I started not long ago my semester so I could get to work on it
but now I'm available to work again
I couldn't really figure from where I can see what variables I need for the function
and what is the calculation for this function
I looked at both of those files and couldn't really figure it out by myself.
We can continue the talk in private if you would like to :)

[2020-03-31 17:05] pierresegonne commented on #250
shouldn't we close the issue @martincollignon ?

[2020-03-31 17:24] pierresegonne commented on #308
* Meal carbon model should be split into mealtype model and ingredients model -> I'll do that.
* Transportation model should be split into distance model and flight model -> OK See #358

[2020-03-31 18:10] martincollignon commented on #250
indeed!

[2020-03-31 18:10] #250 closed

[2020-03-31 18:14] martincollignon commented on #357
Hi, it is including the fuel :-)

[2020-03-31 18:14] #357 closed

[2020-04-01 07:54] martincollignon opened #373 "Take into account consumer price indices"
EXIOBASE relies on numbers from the past. The data we're currently using is from 2011.

To improve the accuracy of our carbon equivalent numbers, we should take into account changes in prices since 2011, and then the currency exchange from 2011 as EXIOBASE is in €.

**Steps to get the adjusted price:**

1. Use index from the proper country (fallback:OECD average data)
2. Use index from the latest

[2020-04-02 09:20] #368 closed

[2020-04-03 11:08] martincollignon opened #377 "Use weighted averages for EXIOABASE fallback"
From discussion with @thomasgibon, when using a fallback we should use weighted averages, as described here:
https://pymrio.readthedocs.io/en/latest/notebooks/aggregation_examples.html

In order of priority:

- [ ] Global
- [ ] European
- [ ] Other regions

[2020-04-03 11:26] #308 closed

[2020-04-06 07:25] martincollignon opened #380 "Take VAT into account for purchases"
Issue: We currently assume prices are without VAT. Users/integrations may not be aware of this

This dataset should be a good start:
https://data.europa.eu/euodp/en/data/dataset/OtGxeR9qrpWd3f24SpRuqw

[2020-04-17 14:48] pierresegonne commented on #273
Any idea on how to factor that in in relation to the other factors that are already used?

Currently

[code]

is used, which creates a multiplier for emissions associated to a flight. Should we set this factor as 0.766 for economy for long haul vs 2.221 for business for long haul for example?

[2020-04-17 14:52] corradio commented on #273
Just a note: we currently don't have any way to describe seating class in our activity model. Furthermore, we don't have planned any UX input changes nor do we have any integration that has awareness of the seating class.
I think this should be considered as a part of a feature that includes the UX? Else it won't be visible anywhere.

[2020-04-17 15:18] pierresegonne commented on #273
Yes indeed, I'm just going through the issues to see where I could help while my scripts are running. So I'll let @martincollignon detail whether this issue should stay open or not

[2020-04-17 15:20] pierresegonne commented on #271
Any update on this? Does the activity contain any information about the plane model? If no is there a plan to include it and what needs to be done for it to happen? @martincollignon

[2020-04-20 11:42] philsturgeon opened #390 "Manual Activity: Shipments"
For a while I've wanted shipment estimates, which is absolutely impossible to get exactly right, but I'd like users to be rewarded for buying things and sending things locally (or less).

Brighter Planet have a model [for Shipments](http://impact.brighterplanet.com/models/shipment):

<img width="1047" alt="image" src="https://user-images.githubusercontent.com/67381/79747797-3a555480-8304-11ea-8291

[2020-04-21 09:26] corradio commented on #373
@pierresegonne: @martincollignon and I wrote a brief here to specify better the task:
https://www.notion.so/tmrow/CPI-brief-a125471890544282a657b42b11a2bf21

[2020-04-21 14:42] martincollignon commented on #271
We would need to add a plane model variable within the activity model. I actually do not know whether there is this data coming from for example Tripit, Ryanair or others.

[2020-04-25 06:38] lauschmitt opened #391 "[Connection myfitnessapp]?utm_source=com.tmrow.greenbit"
** Give details about the requested integration**
- API
- Website
- App

**Describe the solution you'd like**
I use myfitnesspal to monitor the caloric value of my lunches against my daily activity (overviewed in Garmin). It allows to provide a detailed content of meals and define meal types. Could you derive your Co2 footprint calculations from there (to prevent double reporting) ?

** Would you

[2020-04-25 18:17] adlenafane commented on #391
I think the myfitnesspal integration is being tracked here: https://github.com/tmrowco/northapp-contrib/issues/349
I understand the myfitnesspal API is closed but a request has been submitted

[2020-04-28 15:12] pierresegonne commented on #373
@martincollignon do you know from where exactly you obtained the OECD excel file? I'll add it to the PR once I have the link :)

[2020-04-28 16:49] martincollignon commented on #373
https://stats.oecd.org/Index.aspx?DataSetCode=PRICES_CPI#

Without knowing which numbers you have in the PR, I've pulled the latest ones just to make sure here.
[6cbdd8cd-f015-448f-a1c4-54a9cb63c987.xlsx](https://github.com/tmrowco/northapp-contrib/files/4547297/6cbdd8cd-f015-448f-a1c4-54a9cb63c987.xlsx)

[2020-04-28 20:47] tyleralves commented on #80
I would like to research and implement this if no one is actively working on it.

@steren Let me know if you are already on it. Cheers!

[2020-04-28 20:50] steren commented on #80
Go ahead. I have no made any progress.

[2020-04-30 03:17] tyleralves commented on #165
Is the goal here to convert walking into CO2eq? It seems like it would be almost negligible compared to other activities.
Maybe the data would be useful if people are looking to track when they replace high impact activities with low impact activities in the future?

[2020-04-30 19:36] tyleralves commented on #61
PG&E uses green button. Their "SDK" is just sample requests showing how to access the data through the Green Button system.

However, they don't fit the standard mold for North integrations:
TLDR; PG&E requires mutual TLS for all data requests, which means that all requests need to come from the server-side.

More in-depth:
Mutual TLS means the client must provide their TLS public key certificated

[2020-04-30 19:39] tyleralves commented on #80
Moving forward on this with SCE and SDG&E.

PG&E throws a wrench in the integration for us because they require mutual TLS, so I'm delaying on that for now.
Read more: https://github.com/tmrowco/northapp-contrib/issues/61#issuecomment-622062430

[2020-05-01 07:47] #373 closed

[2020-05-01 07:49] martincollignon commented on #61
@FelixDQ don't we use a similar strategy for Bankin?

[2020-05-01 08:03] pierresegonne opened #392 "Take into account consumer price indices v1"
__Improvement on #373__

## What is it about

EXIOBASE relies on numbers from the past. The data we're currently using is from 2011.

To improve the accuracy of our carbon equivalent numbers, we should take into account changes in prices since 2011, and then the currency exchange from 2011 as EXIOBASE is in €.

### What has been done

in #373, a consumer price index (CPI) conversion was implemente

[2020-05-02 09:48] philsturgeon opened #393 "Carbon Model: More Clothing Materials (Linen / Merino)"
I got am awesome new linen shirt but the only shirt options so far are cotton and viscose. I’ve been writing and collating information about clothing options over here: https://protect.earth/clothing

Sadly I don’t have a carbon model to hand, but I’ve not tried as hard as I could have. I’m sure one exists.

[2020-05-02 13:03] madsnedergaard commented on #393
It's a good point, and I also got curious about the actual difference. I haven't been able to find any good enough sources with comparison between same product (t-shirt) in different textiles though.

I did find [this report from 2009](http://www.wrap.org.uk/sites/files/wrap/Appendix%20IV%20-%20Carbon%20footprint%20report.pdf) that has the following comparison on page 37:

<img width="992" alt="Sc

[2020-05-04 16:59] philsturgeon commented on #393
Thank you for doing the research here!

Is the purchase model meant to cover entire product lifecycle, and make assumptions about its usage and how/when the item is disposed of? That seems like its biting off a bit too much IMO.

The washing, drying, ironing would be covered by the energy usage models already right? I enter the kwh which includes all that, so the purchase is just the creation and

[2020-05-05 10:24] madsnedergaard commented on #393
That makes good sense, I'm actually not sure if all purchase definitions takes full lifecycle into account or not. And I guess there must have been some previous talks about this topic that I have missed :) Any inputs on this @martincollignon?

As far as I can tell most data coming from [the French paper](https://www.ademe.fr/sites/default/files/assets/documents/poids_carbone-biens-equipement-2018

[2020-05-07 18:34] martincollignon commented on #393
The French Paper afaik actually does take into account cradle-to-grave and also origins of material (it's super extensive). It's always a bit more dangerous to mix sources, but your source looks quite serious, @madsnedergaard . If we find the average weight of a shirt / tshirt, I think we should use it!

[2020-05-12 20:47] skovhus opened #395 "Rejsekort integration not supporting multiple cards"
I've found an issue where my Rejsekort data didn't show up... 🚂 After some debugging, it turns out the current integration doesn't support multiple cards – it only loads data for one card.

I'll make a PR with a suggested fix.

Thanks for a great app!

[2020-05-13 10:15] #395 closed

[2020-05-13 13:37] madsnedergaard commented on #393
Thanks @martincollignon. Do we always look at cradle-to-grave on purchases?  Phil has a pretty good point about usage for this specific type of purchase - but I'm also wondering what's preferable for the "average" users :)

[2020-05-13 13:41] philsturgeon commented on #393
To be clear on what I was trying to say: I think "cradle" and "grave" are ok so long as we aren't double-counting the usage via purchase _and_ energy.

[2020-05-18 17:24] baywet opened #400 "Support for phone authentication?"
Hi,
Great application. I've been working on integrating Airbnb.
Their API is not publicly documented and the wrappers around the API are a bit hacky.
However I managed to make good progress on my side with a local branch using this library https://www.npmjs.com/package/airbnb-private-api#authorization-by-phone
I'm stuck on authentication:
- using email + password: airbnb challenges for captcha bef

[2020-05-19 03:23] lxnow opened #402 "Integration: MyFitnessPal"
** Give details about the requested integration**
- API: https://www.myfitnesspal.com/api
- Website: https://www.myfitnesspal.com
- App:  Android: https://play.google.com/store/apps/details?id=com.myfitnesspal.android&hl=en ;  iOS: https://apps.apple.com/us/app/myfitnesspal/id341232718

**Describe the solution you'd like**
All the meals logged into myFitnessPal are sync'd into the meals/food intak

[2020-05-19 07:22] corradio commented on #400
Hi @baywet
Thank you for the issue!
Unfortunately we don't support those kind of authentication and we don't plan to have them in the future.
The reason is that we're circumventing an auth system, and Airbnb will probably not be happy about this.
I'm closing this for now, but maybe we should contact Airbnb in order to see if they have a more public OAuth API that we could use?

[2020-05-19 07:22] #400 closed

[2020-05-20 08:35] martincollignon opened #405 "purchaseType: add more categories for "Other services""
**User need:**
"Other services" currently covers A LOT of purchases.

**Solution:**
Add EXIOBASE categories in that are more in depth:

- Post and telecommunication services (64)
- Computer and related services (72)
- Research and development services (73)
- Other business services (74)

[2020-05-20 11:31] corradio commented on #405
Just to be clear, I think what you mean is to add the weights that enable to map COICOP categories to the exiobase categories you mention?

[2020-05-22 04:05] cameronnapoli commented on #390
Hi Phil, this a topic that resonates deeply with me. What's a good starting point for building this integration?

[2020-05-22 10:40] martincollignon commented on #405
No. These are not COICOP categories but EXIOBASE categories directly.

[2020-05-23 11:59] corradio commented on #33
There's a GraphQL endpoint (see https://developer.octopus.energy/docs/api/#graphql-api) which enables using an existing username/password. @lacexd @AyrtonB is that something you can help out with?

[2020-05-25 11:55] corradio opened #407 "Transportation: have fallback trip times when endDatetime is not available"

[2020-05-25 19:25] philsturgeon commented on #390
@cameronnapoli great! Thanks for replying.

I think heading into [`co2eq/`](https://github.com/tmrowco/northapp-contrib/tree/master/co2eq) is the first step, then dig through the existing model to find one that feels similar (uses a third-party API).

The North team are super friendly and welcoming on [their Slack](https://slack.tmrow.com/) if you'd like to swing by and see what they think.

[2020-05-26 08:03] martincollignon commented on #405
Follow-up from discussion with @corradio:

Monetary emission factors can **only** be COICOP categories

If you want to add new monetary emission factors
1) Find the most accurate COICOP category ([source](https://ec.europa.eu/eurostat/ramon/nomenclatures/index.cfm?TargetUrl=LST_CLS_DLD&StrNom=CL_COICOP&StrLanguageCode=EN&IntCurrentPage=8&StrLayoutCode=LINEAR#))
2) Update the [concordance table](ht

[2020-05-26 15:17] AyrtonB commented on #33
Yeah should be able to help out with that. What format does northapp need the data to be in?

[2020-05-26 17:02] corradio commented on #33
https://github.com/tmrowco/northapp-contrib#electricity-consumption-activity-formatting should cover it, but I suggest look at other existing implementations here: https://github.com/tmrowco/northapp-contrib/tree/master/integrations/electricity

[2020-05-27 03:45] cameronnapoli commented on #390
@philsturgeon  That's great! I dug through the models and the model you suggested.

Is there any typing information for the `activity` parameter used in the models?

Is there anywhere to play around and test the model? Seems the playground is only for integrations.

I'm guessing the application UI would need to be updated for this model? (since a variety of factors affect shipment emissions: weigh

[2020-05-29 09:47] AyrtonB commented on #33
Ah hdan't realised that the NorthApp parsers are all JS unlike the Python ElectricityMap ones. Definitely not the best at JS so I'm probably not the person for this one unless there's a way to integrate a Python parser?

[2020-06-03 07:31] sorensvejstrup commented on #390
@philsturgeon @cameronnapoli As you suggest the perfect version of this requires pretty significant changes to the UI and unfortunately our focus on North and the resources we can use are limited right now. But to enable this somehow a first version of this could maybe be using `Count` and enable it as a `Purchase`. I know it's not ideal but at least we will be able to track packages and get a rou

[2020-06-04 04:49] cameronnapoli commented on #390
@sorensvejstrup I understand, and that seems like a good place to start. But what do you mean by `Count`?

In order to implement the way you're suggesting, I would be modifying the purchase model (`purchase/index.js`), correct? Also I noticed the `Transaction activity formatting` is specified in the README. I am guessing that specification would need to be modified to incorporate purchase with shi

[2020-06-05 12:08] sorensvejstrup commented on #390
@cameronnapoli it's enough to add it to [purchase/footprints.yml]( https://github.com/tmrowco/northapp-contrib/blob/master/co2eq/purchase/footprints.yml)
Sorry, I meant `package_count`. Is this enough to get you going?

[2020-06-08 08:12] tomkiss opened #412 "Tesla integration: Battery now flat"
Installed this a few days ago and have not used the car since. Go to check the car today and it’s *totally* flat.

![84BDEA46-64DA-4CF0-B8D8-B48CA2BD6CF0](https://user-images.githubusercontent.com/183310/84006967-8c5f4180-a967-11ea-908e-40889f1803bb.jpeg)

I have no off street parking and no way to charge at home.

I’m assuming this app integration has excessive data polling usage with no limits.

[2020-06-08 08:25] corradio commented on #412
Hi @tomkiss ,

Very sorry to hear that. Our app interfaces with https://beta.teslacockpit.com/ who does the polling. I suggest you raise the issue with them as there's nothing we can do on our end.

[2020-06-08 08:50] corradio commented on #402
Hi @lxnow
We've actually reached out several times without any response. Feel free to ping them as well, but until we get a response I'm afraid there's nothing we can do :(

[2020-06-08 08:51] corradio commented on #391
Duplicate of #349

[2020-06-08 08:51] #391 closed

[2020-06-08 08:52] corradio commented on #402
Duplicate of #349

[2020-06-08 08:52] #402 closed

[2020-06-08 08:56] #356 closed

[2020-06-08 08:57] corradio commented on #356
Closing this due to inactivity.

[2020-06-08 08:58] corradio commented on #340
I'm closing this as we're tracking feature requests in https://north-app.com/roadmap
cc @sorensvejstrup so you can add it to our internal feedback system.

[2020-06-08 08:58] #340 closed

[2020-06-08 08:59] #315 closed

[2020-06-08 09:02] corradio commented on #299
Closing due to inactivity. Let's re-open when an API is ready!

[2020-06-08 09:02] #299 closed

[2020-06-08 09:06] corradio commented on #265
Closing due to inactivity

[2020-06-08 09:06] #265 closed

[2020-06-08 09:06] #251 closed

[2020-06-08 09:07] #235 closed

[2020-06-08 09:07] corradio commented on #233
Closing due to inactivity

[2020-06-08 09:07] #233 closed

[2020-06-08 09:07] corradio commented on #231
Closing due to inactivity

[2020-06-08 09:07] #231 closed

[2020-06-08 09:08] corradio commented on #213
Closing due to inactivity

[2020-06-08 09:08] #213 closed

[2020-06-08 09:08] corradio commented on #206
Closing due inactivity

[2020-06-08 09:08] #206 closed

[2020-06-08 09:09] corradio commented on #205
Closing due to inactivity

[2020-06-08 09:09] #205 closed

[2020-06-08 09:11] corradio commented on #165
Could be interesting though if Fitbit can detect car rides and/or biking?

[2020-06-08 09:12] #162 closed

[2020-06-08 09:13] #30 closed

[2020-06-08 09:14] #21 closed

[2020-06-08 09:48] tomkiss commented on #412
Thanks, will do :)

[2020-06-08 09:54] tomkiss commented on #412
Just to add, I don't think it was clear during the installation process that teslacockpit was the provider? Unless I'm mistaken.

I remember being a bit confused when I got an email from my own car, immediately afterwards, I just assumed it was part of the app but it's really unclear as there is no link or clear reference to the teslacockpit being a separate service.

Maybe I'm forgetting the proc

[2020-06-08 10:00] corradio commented on #412
Noted! cc @sorensvejstrup so we can centralise feedback.
PS: Nice car name.

[2020-06-08 10:00] #412 closed

[2020-06-09 04:37] cameronnapoli commented on #390
@sorensvejstrup The changes you suggest will still require some UI changes, yes? Unless you are suggesting we make some base assumptions, like assuming the item is always shipped.

I assume weight and distance would be the factors with the greatest influence on the carbon shipping model. In that case, I could add weights (or weight approximations) to items.

@philsturgeon What do you think about a

[2020-06-09 07:52] sorensvejstrup commented on #390
@cameronnapoli Yes, that was actually what I was thinking. Adding weight could maybe make sense though. I would however separate them from the items, not assuming that it's always shipped. Shipping could be it's own purchase, so you can search shipping and get options per weight.

[2020-06-09 08:44] martincollignon opened #413 "Use 2011 exchange rates for monetary emission factors calculations"
*Full process for determining the carbon footprint of a transaction*
1) Assign transaction to a transaction category
2) Convert the transaction amount to 2011 amount in the country of purchase (currently using annual consumer price index averages by country, improvement possibilities: category averages & monthly consumer price index by country)
3) Convert the transaction amount in 2011 amount in t

[2020-06-09 15:44] cameronnapoli commented on #390
@sorensvejstrup If we made Shipping its own category within Purchase, would it be simple to add a local vs international checkbox alongside the number input in purchases (for example the items in spending section have a € input to calculate according to price)?

I don't see much value in shipping calculations if they're highly inaccurate and there's no relevance to something actionable for the use

[2020-06-09 15:54] philsturgeon commented on #390
I think doing this through purchases might make it so vague that its not entirely worth doing. It would ideally be its own type of activity, because "Meal" "Energy" "Purchase" "Trip" is not enough. Can we find a way to make it easier to grow the app with more types of model?

[2020-06-09 20:41] martincollignon opened #415 "Replace last usage of Ålands Index to new monetary emission factors"
There a couple of emission factors [here](https://github.com/tmrowco/northapp-contrib/blob/master/co2eq/purchase/index.js#L251) that need to be replaced.

NB: may require UI changes as EEIO model usually requires a country and a year.